<navbar></navbar>
<div class="container border rounded"  style="margin-top: 15px;">
	<form [formGroup]="form_buscar" (ngSubmit)="obtener_datos()">
		<div class="row" style="margin: 25px 15px 0px 15px;">
			<div class="col-12 text-center" style="color: #00AAE7;">
				<h6 id="passwordHelpInline" class="text-center text-uppercase">
					INGRESA EL NOMBRE ó NÚMERO DE MIEMBRO
				</h6>
			</div>
		</div>
		<div class="row">
			<div class="col-4"></div>
			<div class="col-4">
				<input formControlName="campo_busqueda" id="campo_busqueda" class="form-control" [ngClass]="{ 'is-invalid': submitted2 && f2.campo_busqueda.errors }" autofocus="true" autocomplete="off" (input)="obtener_datos()">
			</div>
			<div class="col-4"></div>
		</div>
	</form>
<div class="row" style="margin: 25px 0px 0px -15px;">
	<div class="col-12 custom-control-inline" style="margin: 0px 0px 0px -15px; font-weight: bold; font-size: 15px;">
		<div class="col-6">ESTADOS: <label class="alert-success" style="font-weight: normal;">&nbsp;Miembro Activo&nbsp;</label>&nbsp;<label class="alert-danger" style="font-weight: normal;">&nbsp;Miembro Inactivo&nbsp;</label></div>
	</div>
</div>
	<div class="row">
		<div class="col-12" style="font-size: 14px;">
			<table class="table table-sm table-hover text-center table-bordered rounded"s>
				<thead style="background-color: #00AAE7; color: white;" class="font-weight-normal">
					<tr>
						<th style="vertical-align: middle; width: 5%">#</th>
						<th style="vertical-align: middle;  width: 15%">Nombre</th>
						<th style="vertical-align: middle;  width: 10%">Seguro</th>
						<th style="vertical-align: middle;  width: 20%">Domicilio</th>
						<th style="vertical-align: middle;  width: 12.5%">Quién lo recoge</th>
						<th style="vertical-align: middle;  width: 12.5%">Emergencia 1</th>
						<th style="vertical-align: middle;  width: 12.5%">Emergencia 2</th>
						<th style="vertical-align: middle;  width: 12.5%">Emergencia 3</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let registro of resultado_info">
						<td style="vertical-align: middle;" *ngIf="registro.otros_datos.estado == true"  class="alert-success">
							{{registro.miembroID}}
						</td>
						<td style="vertical-align: middle;" *ngIf="registro.otros_datos.estado != true" class="alert-danger">
							{{registro.miembroID}}
						</td>
						<td style="vertical-align: middle;">{{registro.nombres}} {{registro.appaterno }} {{registro.apmaterno}}</td>
						<td style="vertical-align: middle;">{{registro.derechohabiencia }} {{registro.otroseguro}}</td>
						<td style="vertical-align: middle;">{{registro.domcalle}} {{registro.domcolonia}} {{registro.domcodpost}} {{registro.domdelegacion}} {{registro.dommunicipio}} </td>
						<td style="vertical-align: middle;">{{registro.recoge1nino}} ({{registro.parentrecoge1}})</td>
						<td style="vertical-align: middle;">{{registro.emergencia1 }} {{registro.parentemergencia1}} {{registro.telefonoemergencia1}}</td>
						<td style="vertical-align: middle;">{{registro.emergencia2 }} {{registro.parentemergencia2}} {{registro.telefonoemergencia2}}</td>
						<td style="vertical-align: middle;">{{registro.emergencia3 }} {{registro.parentemergencia3}} {{registro.telefonoemergencia3}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>