<navbar></navbar>
<br>

<div class="container border rounded">
	
	<form action="">
		<div class="row" style="margin: 15px 0px 0px 0px">
			<div class="col-2 text-left font-weight-bold" >
				<span>Buscar por: </span>
			</div>

			<div class="col-4 text-left custom-control-inline" style=" margin-left: -80px;">
				<div class="custom-control custom-radio custom-control-inline">
					<input id="BUSQ_no_miembro" type="radio" class="custom-control-input" name="BUSQ_niño" checked="">
					<label class="custom-control-label" for="BUSQ_no_miembro">Número de miembro</label>
				</div>
				<div class="custom-control custom-radio custom-control-inline">
					<input id="BUSQ_nombre" type="radio" class="custom-control-input" name="BUSQ_niño">
					<label class="custom-control-label" for="BUSQ_nombre">Nombre</label>
				</div>
			</div>
			<div class="col-3 input-group input-group-sm mb-3" style="margin-left: -80px;">
				<input type="text" class="form-control" id="BUSQ_texto" autofocus>
			</div>

			<div class="col-2 text-center" style="margin-left: 0px;">
				<button id="BUSQ_btn_buscar" type="button" class="btn btn-club btn-sm" style="width:100%;">Buscar</button>
			</div> 
		</div>
	</form>

	<div class="row" style="margin: 15px 15px 0px 0px">
		<div class="col-12 text-left "  style="margin: 0px 0px 0px 0px;">
			<label class="font-weight-bold">Resultados</label>
		</div>
		<div class="col-12">
			<form action="">
				<table class="table text-center table-bordered table-sm rounded">
					<thead style="background-color: #00AAE7; color: white;">
						<tr>
							<th scope="col">No. Miembro</th>
							<th scope="col">Nombre (s)</th>
							<th scope="col">Apellido</th>
							<th scope="col">F. Nacimiento</th>
							<th scope="col">Teléfono</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr>

							<th scope="row">1</th>
							<td>Cristian Nicolas</td>
							<td>Hernandez Hernandez</td>
							<td>02/07/96</td>
							<td>6644860637</td>
							<td>
								<button id="BUSQ_btn_buscar" type="button" class="btn btn-info btn-sm">Ver mas</button>
							</td>
						</tr>
						<tr>
							<th scope="row">2</th>
							<td>Victor Angel</td>
							<td>Sanchez Calderon</td>
							<td>05/07/96</td>
							<td>6641112225</td>
							<td>
								<button id="BUSQ_btn_buscar" type="button" class="btn btn-info btn-sm">Ver mas</button>
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
	</div>
</div>
