<navbar-donante></navbar-donante>
<br>
<div class="container border rounded">
  <p class="font-weight-bold">Agenda</p>
  <form [formGroup]="form_buscar" (ngSubmit)="buscar_agenda()">
    <div class="row" style="margin: 15px 0px 0px 0px">
      <div class="col-2 text-right font-weight-bold">
        <span>Opción:</span>
      </div>
      <div class="col-5">
        <div class="custom-control custom-radio custom-control-inline">
          <input id="agenda_Nuevo" type="radio" class="custom-control-input" name="agenda_opcion" value="nuevo"
            (change)="radioChange($event)">
          <label class="custom-control-label" for="agenda_Nuevo">Nuevo</label>
        </div>
        <div class="custom-control custom-radio custom-control-inline">
          <input id="agenda_Modificar" type="radio" class="custom-control-input" name="agenda_opcion"
            value="modificar" (change)="radioChange($event)">
          <label class="custom-control-label" for="agenda_Modificar">Modificar</label>
        </div>
      </div>
      <div class="input-group input-group-sm mb-3 col-3 aling-right">
        <div class="input-group-prepend">
          <span class="input-group-text">ID Usuario:</span>
        </div>
        <input type="number" formControlName="buscarID" class="form-control"
          [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
      </div>
      <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
        <button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="agenda_btn_buscar"
          [disabled]="true">
          <span id="spinner_buscar_agenda" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            hidden></span>
          Buscar</button>
      </div>
    </div>
  </form>

  <form [formGroup]="form_agregar" (ngSubmit)="opcion_donante()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
      <div class="col-12 font-weight-bold">
        <span>Datos Agenda</span>
      </div>
      <div class="col-4 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">ID Agenda:</span>
        <input type="number" formControlName="agendaID" class="form-control" placeholder="ID Agenda" 
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.agendaID.errors }">
      </div>
      <div class="col-4 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">ID Usuario:</span>
        <input type="number" formControlName="usuarioID" class="form-control" placeholder="ID Usuario" 
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.usuarioID.errors }">
      </div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-4 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">Titulo:</span>
        <input type="text" formControlName="titulo" class="form-control" placeholder="titulo"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.titulo.errors }">
      </div>
      <div class="col-4 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">Fecha Inicio:</span>
        <input type="date" formControlName="fechainicio" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechainicio.errors }">
      </div>
      <div class="col-4 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">Fecha Terminacion:</span>
        <input type="date" formControlName="fechaterminacion" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechaterminacion.errors }">
      </div>
      <div class="col-6 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">Ubicacion:</span>
        <input type="text" formControlName="ubicacion" class="form-control" placeholder="Ubicacion"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.ubicacion.errors }">
      </div>
      <div class="col-6 input-group input-group-sm mb-3">
        <span style="margin-right: 10px">Email:</span>
        <input type="email" formControlName="email" class="form-control" placeholder="Email"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.email.errors }">
      </div>
      <div class="col-6 input-group input-group-sm mb-3">
          <span style="margin-right: 10px">Color:</span>
      <input [style.background]="color1" [(colorPicker)]="color1" 
      [cpPresetColors]="['#fff', '#000', '#2889e9', '#e920e9', '#fff500', 'rgb(236,64,64)']"
        (colorPickerClose)="onEventLog($event)" />
      </div>
      <div class="dropdown-divider"></div>

    </div>
    <div class="row" style="margin: 0px 0px 15px 15px">
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col"></div>
      <div class="col-2">
        <button name="agenda_btn_guardar" class="btn btn-primary mr-1" style="width:100%; height: 50px;"
          type="submit">
          <span id="spinner_agregar_agenda" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            hidden></span>
          Guardar
        </button>
      </div>
    </div>
  </form>
  
  <div class="dropdown-divider"></div>
  <div>
    <button (click)="updateEvents()">Agregar evento </button>
    <full-calendar defaultView="dayGridMonth" [editable]="false" [plugins]="calendarPlugins" [header]="options.header"
      (eventDragStop)="eventDragStop($event)" (eventClick)="eventClick($event)"
      (dateClick)="dateClick($event)" [events]="eventsModel"></full-calendar>
  </div>
  <div class="container border rounded">
      <div class="row" style="margin: 15px 15px 0px 0px">
          <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
              <label class="font-weight-bold">Eventos: </label>
          </div>
          <div class="col-12">
              <form>
                  <table class="table text-center table-bordered table-sm rounded">
                      <thead style="background-color: #00AAE7; color: white;">
                          <tr>
                              <th scope="col">ID Agenda</th>
                              <th scope="col">ID Usuario</th>
                              <th scope="col">Titulo</th>
                              <th scope="col">fechainicio</th>
                              <th scope="col">fechaterminacion</th>
                              <th scope="col">ubicacion</th>
                              <th scope="col">email</th>
                              <th scope="col">color</th>
                              <th scope="col">Opción</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let fdonacion of arrayFdonacion; let i=index">

                              <th scope="row">{{fdonacion.agendaID}}</th>
                              <th scope="row">{{fdonacion.usuarioID}}</th>
                              <td>{{fdonacion.titulo}}</td>
                              <td>{{fdonacion.fechainicio | date:'yyyy/MM/dd'}}</td>
                              <td>{{fdonacion.fechaterminacion | date:'yyyy/MM/dd'}}</td>
                              <td>{{fdonacion.ubicacion}}</td>
                              <td>{{fdonacion.email }}</td>
                              <td>{{fdonacion.color }}</td>
                              <td>
                                  <button id="BUSQ_btn_modificar" type="button" class="btn btn-info btn-sm"
                                      (click)="buscar_agenda(fdonacion.formadonacionID)">Modificar</button>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </form>
          </div>
      </div>
  </div>
</div>