<navbar-donante></navbar-donante>
<br>
<p>Agenda</p>
<div class="row" style="margin: 15px 15px 0px 0px">
    <div class="col-12 text-left "  style="margin: 0px 0px 0px 0px;">
        <label class="font-weight-bold">Resultados</label>
    </div>
    <div class="col-12">
        <form action="">
            <table class="table text-center table-bordered table-sm rounded">
                <thead style="background-color: #00AAE7; color: white;">
                    <tr>
                        <th scope="col">No. donante</th>
                        <th scope="col">Nombre (s)</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">F. Nacimiento</th>
                        <th scope="col">Teléfono</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>

                        <th scope="row">1</th>
                        <td>Cristian Nicolas</td>
                        <td>Hernandez Hernandez</td>
                        <td>02/07/96</td>
                        <td>6644860637</td>
                        <td>
                            <button id="BUSQ_btn_buscar" type="button" class="btn btn-info btn-sm">Modificar</button>
                            <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                        background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Victor Angel</td>
                        <td>Sanchez Calderon</td>
                        <td>05/07/96</td>
                        <td>6641112225</td>
                        <td>
                            <button id="BUSQ_btn_buscar" type="button" class="btn btn-info btn-sm">Modificar</button>
                            <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                        background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</div>
