<form action="" class="text-center" style="margin: 0px 0px 30px 0px">
	<div class="row" style="margin: 30px 0px 0px 0px">
		<div class="col-12 text-center font-weight-bold" >
			<h4>NO. MIEMBRO</h4>
		</div>
	</div>

	<div class="row" style="margin: 5px 0px 15px 0px">
		<div class="col-3">
		</div>
		<div class="col-6">
			<input type="number" class="form-control" id="registro_num_miembro" placeholder="Ingresa aquí el número de miembro" autofocus>
		</div>
		<div class="col-3">
		</div>
	</div>

	<div class="row">
		<div class="col-5" style="margin: 30px 0px 0px 0px;">
		</div>
		<div class="col-2" style="text-align: center;">
			<button id="ART_btn_buscar" type="button" class="btn btn-club" style="width:100%;">Guardar</button>
		</div> 
		<div class="col-5">
		</div>
	</div>
</form>
