<form [formGroup]="form_buscar" (ngSubmit)="buscar_campana()">
    <div class="row" style="margin: 15px 0px 0px 0px">
        <div class="input-group input-group-sm mb-3 col-3 aling-right">
            <div class="input-group-prepend">
                <span class="input-group-text">ID Campaña:</span>
            </div>
            <input type="text" formControlName="buscarID" class="form-control"
                [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
            <div *ngIf="submit_buscar && f_B.buscarID.errors" class="invalid-feedback">
                <div *ngIf="f_B.buscarID.errors.required">Campo requerido para busqueda.</div>
            </div>
        </div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
            <button class="btn btn-primary mr-1">buscar</button>
            <button class="btn btn-secondary" type="reset" (click)="clean_Buscar()">Borrar</button>
        </div>
    </div>
</form>

<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="agregar_campana()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-12 font-weight-bold">
            <span>Campaña</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="text" formControlName="campanaID" class="form-control" placeholder="CampañaID"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.campanaID.errors }">
            <div *ngIf="submit_agregar && f_A.campanaID.errors" class="invalid-feedback">
                <div *ngIf="f_A.campanaID.errors.required">*Favor de llenar el campo</div>
            </div>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripcion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.descripcion.errors }">
            <div *ngIf="submit_agregar && f_A.descripcion.errors" class="invalid-feedback">
                <div *ngIf="f_A.descripcion.errors.required">*Favor de llenar el campo</div>
            </div>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label>Fecha: </label>
            <input type="date" formControlName="fecha" class="form-control"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.fecha.errors }">
            <div *ngIf="submit_agregar && f_A.fecha.errors" class="invalid-feedback">
                <div *ngIf="f_A.fecha.errors.required">*Favor de llenar el campo</div>
            </div>
        </div>
    </div>

    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">

            <button class="btn btn-primary mr-1" style="width:100%; height: 50px;">Guardar</button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" style="width:100%; height: 50px;" type="reset"
                (click)="clear_Agregar()">Cancelar</button>
        </div>
    </div>
</form>

<div class="container border rounded">
    <div class="row" style="margin: 15px 15px 0px 0px">
        <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
            <label class="font-weight-bold">Campañas</label>
        </div>
        <div class="col-12">
            <form action="">
                <table class="table text-center table-bordered table-sm rounded">
                    <thead style="background-color: #00AAE7; color: white;">
                        <tr>
                            <th scope="col">Campaña ID</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col">Fecha</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th scope="row">1</th>
                            <td>Perla Winzard</td>
                            <th>02/02/2014</th>
                            <td>
                                <button id="BUSQ_btn_modificar" type="button"
                                    class="btn btn-info btn-sm">Modificar</button>
                                <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                            background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Efectivo</td>
                            <th>02/02/2014</th>
                            <td>
                                <button id="BUSQ_btn_modificar" type="button"
                                    class="btn btn-info btn-sm">Modificar</button>
                                <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                            background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>