<a>
    <img src="./assets/img/logo.png" style="height: 40px; position: absolute; left: 20px;" alt="google.com">
</a>
<ul class="nav justify-content-end" style=" background-color:#00AAE7; 
        box-shadow: 0px 2px 3px 0px rgba(100,189,222,1);">
    <li class="nav-item">
        <a class="nav-link text-white" href="admin/agenda">Agenda</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Recepción</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="recepcion/entradas-salidas">Entradas y Salidas</a>
            <a class="dropdown-item" href="recepcion/agregar-modificar">Agregar/modificar Niños</a>
            <a class="dropdown-item" href="recepcion/buscar-niño">Buscar Niño</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Donación</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="donacion/agregar-donante">Agregar/Modificar Donación</a>
            <a class="dropdown-item" href="donacion/Otra-Aportacion">Otra Aportacón</a>
            <a class="dropdown-item" href="donacion/Catalogo">Catalogo</a>
            <a class="dropdown-item" href="reporte">Reportes</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Desarrollo Humano</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="desarrollo_humano">Incidencias</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Coordinacion Operativa</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="coordinacion_operativa">Informes</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Servicio Social</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="servicio_social/entradas-salidas">Entradas y Salidas</a>            
            <a class="dropdown-item" href="servicio_social/crear">Nuevo Servicio Social</a>           
            <a class="dropdown-item" href="servicio_social/buscar-modificar">Buscar Servicio Social</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="admin/newUser">Nuevo Usuario</a>
    </li>

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
            aria-haspopup="true" aria-expanded="false">Cuenta</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="admin/config">Configuraciones</a>
            <a class="dropdown-item" (click)="cerrar()">Salir</a>
        </div>
    </li>
</ul>