<form [formGroup]="form_buscar" (ngSubmit)="cambiar_valor_Padre()">
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="col-2 text-right font-weight-bold">
			<span>Opción:</span>
		</div>
		<div class="col-5">
			<div class="custom-control custom-radio custom-control-inline">
				<input id="donacion_Nuevo" type="radio" class="custom-control-input" name="donacion_opcion"
					value="nuevo" (change)="radioChange($event)" [checked] = "focus">
				<label class="custom-control-label" for="donacion_Nuevo">Nuevo</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input id="donacion_Modificar" type="radio" class="custom-control-input" name="donacion_opcion"
					value="modificar" (change)="radioChange($event)" [checked] = "!focus">
				<label class="custom-control-label" for="donacion_Modificar">Modificar</label>
			</div>
		</div>
		<div class="input-group input-group-sm mb-3 col-3 aling-right">
			<div class="input-group-prepend">
				<span class="input-group-text">ID Donante:</span>
			</div>
			<input type="number" formControlName="buscarID" class="form-control"
				[ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
		</div>
		<div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="donacion_btn_buscar"
				[disabled]="true">
				<span id="spinner_buscar_donacion" class="spinner-border spinner-border-sm" role="status"
					aria-hidden="true" hidden></span>
				Buscar</button>
		</div>
	</div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="opcion_donante()">
	<!-- INICIO ROW #1 -->
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-12 font-weight-bold">
			<span>Datos Donante</span>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">ID Donante:</span>
			<input type="number" formControlName="donacionID" class="form-control" placeholder="ID Donante" readonly
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }">
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Nombres:</span>
			<input type="text" formControlName="nombres" class="form-control" placeholder="Nombres"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.nombres.errors }">
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Apellidos:</span>
			<input type="text" formControlName="apellidos" class="form-control" placeholder="Apellidos"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.apellidos.errors }">
		</div>
		<div class="col-6 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Nombre Fiscal:</span>
			<input type="text" formControlName="nombrefiscal" class="form-control" placeholder="Nombre Fiscal"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.nombrefiscal.errors }">
		</div>
		<div class="col-3 input-group input-group-sm mb-3">
			<label for="status" style="margin-right: 10px">Status: </label>
			<select formControlName="status" class="custom-select"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.status.errors }">
				<option value="Activo">Activo</option>
				<option value="Cancelado">Cancelado</option>
				<option value="Prospecto">Prospecto</option>
				<option value="Suspendido">Suspendido</option>
			</select>
		</div>
		<div class="col-3 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Email:</span>
			<input type="email" formControlName="email" class="form-control" placeholder="Email"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.email.errors }">
		</div>
		<div class="col-3 input-group input-group-sm mb-3">

			<label for="tipodonante" style="margin-right: 10px">Tipo Donante</label>
			<select formControlName="tipodonante" class="custom-select"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodonante.errors }">
				<option value="Empresa">Empresa</option>
				<option value="Fundacion">Fundacion</option>
				<option value="Gobierno">Gobierno</option>
				<option value="Individuo">Individuo</option>
			</select>
		</div>
		<div class="col-3 form-group input-group-sm mb-3" >
			<label for="fechanacimiento" style="padding: 0px; font-size: 13px;">Fecha nacimiento: </label>
			<input formControlName="fechanacimiento" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento.errors }" id="fechanacimiento" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Edad:</span>
			<input type="number" formControlName="edad" class="form-control" placeholder="Edad"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.edad.errors }">
		</div>
		<div class="col-3 form-group input-group-sm mb-3" >
			<label for="fechadonacion" style="padding: 0px; font-size: 13px;">Fecha donacion: </label>
			<input formControlName="fechadonacion" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.fechadonacion.errors }" id="fechadonacion" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<label for="lider" style="margin-right: 10px">Lider: </label>
			<select formControlName="liderID" class="custom-select"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.liderID.errors }">
				<option value="{{lider.liderID}}" *ngFor="let lider of arrayLideres; let i=index">{{lider.descripcion}}</option>
			</select>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<label for="campana" style="margin-right: 10px">Campaña: </label>
			<select formControlName="campanaID" class="custom-select"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.campanaID.errors }" >
				<option value="{{campana.campanaID}}" *ngFor="let campana of arrayCampanas; let i=index">{{campana.descripcion}}</option>
			</select>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<label for="Evento" style="margin-right: 10px">Evento: </label>
			<select formControlName="eventoID" class="custom-select"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.eventoID.errors }">
				<option value="{{evento.eventoID}}" *ngFor="let evento of arrayEventos; let i=index">{{evento.descripcion}}</option>
			</select>
		</div>
		<div class="col-12 input-group input-group-sm mb-3">
			<span style="margin-right: 10px">Observacion:</span>
			<input type="text" formControlName="observacion" class="form-control" placeholder="Observación"
				[ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion.errors }">
		</div>
	</div>

	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 0px 0px 15px 15px">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col-2">
			<button name="donacion_btn_guardar" class="btn btn-primary mr-1" style="width:100%; height: 50px;"
				type="submit">
				<span id="spinner_agregar_donacion" class="spinner-border spinner-border-sm" role="status"
					aria-hidden="true" hidden></span>
				Guardar
			</button>
		</div>
		
	</div>	
</form>