<navbar-servicio> </navbar-servicio>
<div class="container border rounded"  style="margin-top: 15px;">
	<div *ngIf="visible==true" style="margin: 0px 30px 0px 15px;" class="text-center">
		<ngb-alert  (close)="cerrar_alert()" type="{{tipo}}">{{mensaje}}</ngb-alert>
	</div>
	<div class="row" style="margin: 30px 0px 0px 0px">
		<div class="col-12 text-center font-weight-bold" >
			<h4>NO. MIEMBRO</h4>
		</div>
	</div>
	<div class="row" style="margin: 5px 0px 15px 0px">
		<div class="col-3">
		</div>
		<div class="col-6">
			<input type="number" id="miembroID" class="form-control" placeholder="Ingresa aquí el número de miembro" autofocus="true" autocomplete="off"  #id>
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="row">
		<div class="col-3"></div>
		<div class="col-2" style="text-align: center;">
			<button id="limbiar" type="button" class="btn btn-danger btn-block" (click)= "limpiar();">
				Limpiar
			</button>
		</div>
		<div class="col-2" style="text-align: center;">
			<button id="btn_buscar" type="submit" class="btn btn-info btn-block" (click)="mi_historial()">
				<span id="spinner_historial" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
				Ver mi historial
			</button>
		</div>
		<div class="col-2" style="text-align: center;">
			<button id="btn_guardar" type="submit" class="btn btn-club btn-block" (click)="esta_activo()">
				<span id="spinner_guardar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
				Guardar
			</button>
		</div>
		<div class="col-3">
		</div>
	</div>
	<div class="dropdown-divider" style="margin: 20px 0px 0px 0px;"></div>
	<div class="row">
		<div class="col-12" *ngIf="historial!=null" style="margin:15px 0px 0px 0px;">
			<div class="col-12 font-weight-bold" >
				<h5>HISTORIAL <label style="font-weight: normal;">llevas <mark style="background-color: #00AAE7; color: white;">{{horas_acumuladas}}</mark> horas acumuladas</label></h5>
			</div>
			<div class="col-12">
				<table class="table text-center table-bordered table-sm rounded">
					<thead style="background-color: #00AAE7; color: white;">
						<tr>
							<th scope="col">Fecha</th>
							<th scope="col">Entrada</th>
							<th scope="col">Salida</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let registro of historial">
							<td>{{registro.fechaentrada | date}}</td>
							<td>{{registro.fechaentrada | date:'mediumTime'}}</td>
							<td>{{registro.fechasalida  | date:'mediumTime'}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>