<form [formGroup]="form_buscar" (ngSubmit)="cambiar_valor_Padre()">
    <div class="row" style="margin: 15px 0px 0px 0px">
        <div class="input-group input-group-sm mb-3 col-3 aling-right">
            <div class="input-group-prepend">
                <span class="input-group-text">ID Donante:</span>
            </div>
            <input type="number" formControlName="buscarID" class="form-control"
                [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
        </div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="evento_btn_buscar">
				<span id="spinner_buscar_contacto" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
    </div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="modificar_evento()">
        <div style="margin: 0px 30px 0px 15px;" class="text-center">
				<ngb-alert *ngIf="visible==true" (close)="cerrar_alert()" type="{{tipo}}">{{mensaje}}</ngb-alert>
			</div>
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input type="number" formControlName="donacionID" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }" >            
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="nombre_donante" style="margin-right: 10px">Donante</label>
            <input type="text" formControlName="nombre_donante" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombre_donante.errors }" >            
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="nombre_Fiscal" style="margin-right: 10px">Nombre Fiscal</label>
            <input type="text" formControlName="nombre_Fiscal" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombre_Fiscal.errors }" >            
        </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Contactos Donante 1</span>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Nombre:</span>
            <input type="text" formControlName="nombre1" class="form-control" placeholder="Nombres" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombre1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Apellido Pat.:</span>
            <input type="text" formControlName="paterno1" class="form-control" placeholder="Apellido paterno" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.paterno1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Apellido Mat.:</span>
            <input type="text" formControlName="materno1" class="form-control" placeholder="Apellido materno" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.materno1.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Relación:</span>
            <input type="text" formControlName="relacion1" class="form-control" placeholder="Relacion" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.relacion1.errors }">
        </div>
        <div class="col-12 font-weight-bold">
            <span>Dirección</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Calle:</span>
            <input type="text" formControlName="calle1" class="form-control" placeholder="Calle" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle1.errors }">
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Colonia:</span>
            <input type="text" formControlName="colonia1" class="form-control" placeholder="Colonia" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Ext:</span>
            <input type="number" formControlName="noexterior1" class="form-control" placeholder="Noexterior" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Int:</span>
            <input type="number" formControlName="nointerior1" class="form-control" placeholder="Nointerior" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">CP:</span>
            <input type="number" formControlName="cp1" class="form-control" placeholder="CP" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais1" style="margin-right: 10px">Pais </label>
            <select formControlName="pais1" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais1.errors }">
                <option selected disabled>Pais</option>
                <option value="Mexico">Mexico</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Estado:</span>
            <input type="text" formControlName="estado1" class="form-control" placeholder="Estado" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Municipio:</span>
            <input type="text" formControlName="municipio1" class="form-control" placeholder="Municipio" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio1.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Email:</span>
            <input type="email" formControlName="email1" class="form-control" placeholder="Email" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.email1.errors }">
        </div>
        <div class="col-3 form-group input-group-sm mb-3" style="margin-top: -20px;" >
			<label for="fechanacimiento1" style="padding: 0px; font-size: 13px;">Fecha Nacimiento: </label>
			<input formControlName="fechanacimiento1" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento1.errors }" id="fechanacimiento1" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Telefono:</span>
            <input type="number" formControlName="telefono1" class="form-control" placeholder="Telefono" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.telefono1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Lada:</span>
            <input type="number" formControlName="lada1" class="form-control" placeholder="Lada" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.lada1.errors }">
        </div>

        <div class="col-7 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observacion:</span>
            <input type="text" formControlName="observacion1" class="form-control" placeholder="Observacion" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion1.errors }">
        </div>

    </div>
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-12 font-weight-bold">
            <span>Contactos Donante 2</span>
        </div>      
        
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Nombre:</span>
            <input type="text" formControlName="nombre2" class="form-control" placeholder="Nombres" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombre2.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Apellido Pat:</span>
            <input type="text" formControlName="paterno2" class="form-control" placeholder="Apellido paterno" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.paterno2.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Apellido Mat:</span>
            <input type="text" formControlName="materno2" class="form-control" placeholder="Apellido materno" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.materno2.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Relación:</span>
            <input type="text" formControlName="relacion2" class="form-control" placeholder="Relacion" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.relacion2.errors }">
        </div>
        
        <div class="col-12 font-weight-bold">
            <span>Dirección</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Calle:</span>
            <input type="text" formControlName="calle2" class="form-control" placeholder="Calle" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle2.errors }">
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Colonia:</span>
            <input type="text" formControlName="colonia2" class="form-control" placeholder="Colonia" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia2.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Ext:</span>
            <input type="number" formControlName="noexterior2" class="form-control" placeholder="Noexterior" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior2.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Int:</span>
            <input type="number" formControlName="nointerior2" class="form-control" placeholder="Nointerior" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior2.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">CP:</span>
            <input type="number" formControlName="cp2" class="form-control" placeholder="CP" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp2.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais2" style="margin-right: 10px">Pais </label>
            <select formControlName="pais2" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais2.errors }">
                <option selected disabled>Pais</option>
                <option value="Mexico">Mexico</option>
                <option value="Estados Unidos">Estados Unidos</option>
                <option value="Otro">Otro</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Estado:</span>
            <input type="text" formControlName="estado2" class="form-control" placeholder="Estado" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado2.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Municipio:</span>
            <input type="text" formControlName="municipio2" class="form-control" placeholder="Municipio" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio2.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Email:</span>
            <input type="email" formControlName="email2" class="form-control" placeholder="Email" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.email2.errors }">
        </div>
        <div class="col-3 form-group input-group-sm mb-3" style="margin-top: -20px;">
			<label for="fechanacimiento2" style="padding: 0px; font-size: 13px;">Fecha Nacimiento: </label>
			<input formControlName="fechanacimiento2" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento2.errors }" id="fechanacimiento2" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Telefono:</span>
            <input type="number" formControlName="telefono2" class="form-control" placeholder="Telefono" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.telefono2.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Lada:</span>
            <input type="number" formControlName="lada2" class="form-control" placeholder="Lada" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.lada2.errors }">
        </div>

        <div class="col-7 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observacion:</span>
            <input type="text" formControlName="observacion2" class="form-control" placeholder="Observacion" autocomplete="off"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion2.errors }">
        </div>

    </div>

    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="evento_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar_fdonante" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
        </div>
       
    </div>
</form>