<form [formGroup] = "form_buscar" (ngSubmit)="cambiar_valor_Padre()">
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="input-group input-group-sm mb-3 col-3 aling-right">
			<div class="input-group-prepend">
				<span class="input-group-text">ID Donante:</span>
			</div>
			<input type="number" formControlName="buscarID"  class="form-control" [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
		</div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="nota_btn_buscar" >
				<span id="spinner_buscar_nota" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
    </div>
    <div>
            <div class="dropdown-divider"></div>
            <div class="font-weight-bold" >
                    <span>Opción:</span>
                </div>
                <div class="col-5">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="nota_Nuevo" type="radio" class="custom-control-input" name="donacion_opcion" 
                        value="nuevo" (change)="radioChange($event)" [checked] = "focus">
                        <label class="custom-control-label" for="nota_Nuevo">Nuevo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="nota_Modificar" type="radio" class="custom-control-input" name="donacion_opcion" value="modificar" 
                        (change)="radioChange($event)" [checked] = "!focus">
                        <label class="custom-control-label" for="nota_Modificar" >Modificar</label>
                    </div>
                </div>
    </div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="opcion_nota()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-8 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input type="number" formControlName="donacionID" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }" >
                <label for="notaID" style="margin-right: 10px">ID Nota</label>
                <input type="number" formControlName="notaID" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.notaID.errors }" >
        </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Nota Donación</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            
				<span style="margin-right: 10px">Nota:</span>
            <input type="text" formControlName="nota" class="form-control" placeholder="Nota"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nota.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="statusnota" style="margin-right: 10px">Status </label>
            <select formControlName="statusnota" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.statusnota.errors }">
                <option selected disabled>status: </option>
                <option value="Pendiente">Pendiente</option>
                <option value="Finalizada">Finalizada</option>
            </select>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
			<div class="col-11 input-group input-group-sm mb-3" style="padding-right: 0px;">
				<label>Fecha Donacion: </label>
                <input type="text" formControlName="programar" class="form-control"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.programar.errors }"  value="{{ fecha1 | date:'yyyy/MM/dd'  }}">
            </div>
            <div class="col-1" style="padding: 0px;">
                <form class="form-inline">
                    <div class="form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" type="hidden"
                            name="d1" #c1="ngModel" [(ngModel)]="fecha1" ngbDatepicker #d1="ngbDatepicker">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary btn-sm calendar" (click)="d1.toggle()" type="button" style="padding: 0px;">
                                    <img src="./assets/img/calendario.png"   style="height: 25px; padding: 0px;"/>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
		</div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="responsable" style="margin-right: 10px">Responsable: </label>
            <select formControlName="responsable" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.responsable.errors }">
                <option value="Usuario de consulta">Usuario de consulta</option>
                <option value="Servicio Social">Servicio Social</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="fdonante_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar_nota" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
        </div>
    </div>
</form>
<div class="container border rounded">
    <div class="row" style="margin: 15px 15px 0px 0px">
        <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
            <label class="font-weight-bold">Notas: </label>
        </div>
        <div class="col-12">
            <form>
                <table class="table text-center table-bordered table-sm rounded">
                    <thead style="background-color: #00AAE7; color: white;">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nota</th>
                            <th scope="col">Estatus Nota</th>
                            <th scope="col">Programar</th>
                            <th scope="col">Responsable</th>
                            <th scope="col">Opción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let notas of arraynota; let i=index">
                            <td>{{notas.notaID}}</td>
                            <td>{{notas.nota}}</td>
                            <td>{{notas.statusnota }}</td>
                            <td>{{notas.programar| date:'yyyy/MM/dd'}}</td>
                            <td>{{notas.responsable }}</td>
                            <td>
                                <button id="BUSQ_btn_modificar" type="button" class="btn btn-info btn-sm"
                                (click)="buscar_nota(notas.notaID)">Modificar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>