<form action="">
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="col-2 text-right font-weight-bold" >
			<span>QUÉ VAS A HACER?</span>
		</div>
		<div class="col-5">
			<div class="custom-control custom-radio custom-control-inline">
				<input id="DG_Nuevo" type="radio" class="custom-control-input">
				<label class="custom-control-label" for="Nuevo">Nuevo</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input id="DG_Modificar" type="radio" class="custom-control-input">
				<label class="custom-control-label" for="Modificar">Modificar</label>
			</div>
		</div>
		<div class="input-group input-group-sm mb-3 col-3 aling-right">
			<div class="input-group-prepend">
				<span class="input-group-text">No. Miembro:</span>
			</div>
			<input id="DG_busc_miembro" type="text" class="form-control">
		</div>
		<div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button id="DG_btn_buscar" type="button" class="btn btn-club btn-sm" style="width:100%;">Buscar</button>
		</div> 
	</div>
</form>

<div class="dropdown-divider"></div>
<form action="">
	<!-- INICIO ROW #1 -->	
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-4 custom-control custom-switch" >
			<input id="NF_restriccion" type="checkbox" class="custom-control-input" >
			<label class="custom-control-label" for="NF_restriccion"> &nbsp;Existe restricción legal para alguno de los padres biológicos de su hijo:</label>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<input id="NF_nombre_restricción" type="text" class="form-control" placeholder="Quién">
		</div>
		<div class="col-2 text-right">
			<span>Padres biológicos:</span>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_padres_biologicos" class="custom-select" >
				<option selected disabled>Elige</option>
				<option value="juntos">Viven juntos</option>
				<option value="separados">Separados</option>
				<option value="viudo">Viudo (a)</option>
				<option value="soltero">Madre o padre soltero (a)</option>
			</select>
		</div>
	</div>

	<!-- INICIO ROW #2 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-12 font-weight-bold" >
			<span>DATOS DEL PADRE O TUTOR</span>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<input id="NF_nombre_padre_bio" type="text" class="form-control" placeholder="Nombre del padre biológico o tutor legal">
		</div>
		<div class="col-3 input-group input-group-sm mb-3">
			<input id="NF_lugar_fecha_padre_bio" type="text" class="form-control" placeholder="Fecha y lugar de nacimiento">
		</div>
		<div class="col-1 input-group input-group-sm mb-3">
			<input id="NF_edad_padre_bio" type="text" class="form-control" placeholder="Edad">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_padre_nacionalidad_bio" class="custom-select" >
				<option selected>Nacionalidad</option>
				<option value="Mexicano">Mexicano</option>
				<option value="Extranjero">Extranjero</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_padre_escolaridad_bio" class="custom-select" >
				<option selected>Escolaridad</option>
				<option value="Preescolar">Preescolar</option>
				<option value="Primaria">Primaria</option>
				<option value="Secundaria">Secundaria</option>
				<option value="Preparatoria">Preparatoria</option>
				<option value="Licenciatura">Licenciatura</option>
				<option value="Ingenieria">Ingenieria</option>
				<option value="Maestria">Maestria</option>
				<option value="Posgrado">Posgrado</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_ocupacion_padre_bio" type="text" class="form-control" placeholder="Ocupación">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_lug_trab_padre_bio" type="text" class="form-control" placeholder="Lugar de trabajo">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_tel_part_padre_bio" type="tel" class="form-control" placeholder="Telefono particular">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_tel_trab_padre_bio" type="tel" class="form-control" placeholder="Telefono de trabajo">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_celular_padre_bio" type="tel" class="form-control" placeholder="Celular">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_email_padre_bio" type="email" class="form-control" placeholder="Email">
		</div>
	</div>

	<!-- INICIO ROW #3 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-12 font-weight-bold" >
			<span>DATOS DEL MADRE O TUTORA</span>
		</div>
		<div class="col-4 input-group input-group-sm mb-3">
			<input id="NF_nombre_madre_bio" type="text" class="form-control" placeholder="Nombre del madre biológico o tutor legal">
		</div>
		<div class="col-3 input-group input-group-sm mb-3">
			<input id="NF_lugar_fecha_madre_bio" type="text" class="form-control" placeholder="Fecha y lugar de nacimiento">
		</div>
		<div class="col-1 input-group input-group-sm mb-3">
			<input id="NF_edad_madre_bio" type="text" class="form-control" placeholder="Edad">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_madre_nacionalidad_bio" class="custom-select" >
				<option selected>Nacionalidad</option>
				<option value="Mexicano">Mexicana</option>
				<option value="Extranjero">Extranjera</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_madre_escolaridad_bio" class="custom-select" >
				<option selected>Escolaridad</option>
				<option value="Preescolar">Preescolar</option>
				<option value="Primaria">Primaria</option>
				<option value="Secundaria">Secundaria</option>
				<option value="Preparatoria">Preparatoria</option>
				<option value="Licenciatura">Licenciatura</option>
				<option value="Ingenieria">Ingenieria</option>
				<option value="Maestria">Maestria</option>
				<option value="Posgrado">Posgrado</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_ocupacion_madre_bio" type="text" class="form-control" placeholder="Ocupación">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_lug_trab_madre_bio" type="text" class="form-control" placeholder="Lugar de trabajo">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_tel_part_madre_bio" type="tel" class="form-control" placeholder="Telefono particular">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_tel_trab_madre_bio" type="tel" class="form-control" placeholder="Telefono de trabajo">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_celular_madre_bio" type="tel" class="form-control" placeholder="Celular">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_email_madre_bio" type="email" class="form-control" placeholder="Email">
		</div>
	</div>

	<!-- INICIO ROW #4 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-4 font-weight-bold" >
			<span>DATOS DEL PADRE O MADRE SUSTITUTA</span>
		</div>
		<div class="col-3 input-group input-group-sm mb-3">
			<input id="NF_nombre_padre_madre_sus" type="text" class="form-control" placeholder="Nombre del padre o  madre sustituta">
		</div>
		<div class="col-1 input-group input-group-sm mb-3">
			<input id="NF_edad_padre_madre_sus" type="text" class="form-control" placeholder="Edad">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_ocupacion_padre_madre_sus" type="text" class="form-control" placeholder="Ocupación">
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<input id="NF_tel_padre_madre_sus" type="tel" class="form-control" placeholder="Telefono particular">
		</div>
	</div>
	
	<!-- INICIO ROW #5 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 15px 15px">
		<div class="col-3" >
			<span>Nombre</span>
		</div>
		<div class="col-2" >
			<span>Edad</span>
		</div><div class="col-6" >
			<span>Grado escolar al que asiste. Actividad a la que se dedica</span>
		</div>
		<div class=" col-12 input-group">
			<input id="NF_tbl_nombre1" type="text" class="form-control col-3">
			<input id="NF_tbl_edad1" type="number" class="form-control col-2">
			<input id="NF_tbl_grado1" type="text" class="form-control col-7">
		</div>
		<div class=" col-12 input-group">
			<input id="NF_tbl_nombre2" type="text" class="form-control col-3">
			<input id="NF_tbl_edad2" type="number" class="form-control col-2">
			<input id="NF_tbl_grado2" type="text" class="form-control col-7">
		</div>
		<div class=" col-12 input-group">
			<input id="NF_tbl_nombre3" type="text" class="form-control col-3">
			<input id="NF_tbl_edad3" type="number" class="form-control col-2">
			<input id="NF_tbl_grado3" type="text" class="form-control col-7">
		</div>
		<div class=" col-12 input-group">
			<input id="NF_tbl_nombre4" type="text" class="form-control col-3">
			<input id="NF_tbl_edad4" type="number" class="form-control col-2">
			<input id="NF_tbl_grado4" type="text" class="form-control col-7">
		</div>
		<div class=" col-12 input-group">
			<input id="NF_tbl_nombre5" type="text" class="form-control col-3">
			<input id="NF_tbl_edad5" type="number" class="form-control col-2">
			<input id="NF_tbl_grado5" type="text" class="form-control col-7">
		</div>
	</div>

	<!-- INICIO ROW #7 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-12 font-weight-bold" >
			<span>CIRCUNSTANCIAS ESPECIALES DE LA FAMILIA (en el último año)</span>
		</div>
	</div>
	<div class="row"style="margin: 0px 0px 0px 28px; font-size: 15px;">
		<div class="col-2 custom-control custom-checkbox">
			<input id="NF_desintegracion" type="checkbox" class="custom-control-input">
			<label class="custom-control-label" for="NF_desintegracion">Desintegración familiar</label>
		</div>
		<div class="col-2 custom-control custom-checkbox" style="width: 200px;">
			<input id="NF_fallecimiento" type="checkbox" class="custom-control-input" >
			<label class="custom-control-label" for="NF_fallecimiento">Fallecimientos</label>
		</div>
		<div class="col-3 custom-control custom-checkbox">
			<input id="NF_nacimiento" type="checkbox" class="custom-control-input" >
			<label class="custom-control-label" for="NF_nacimiento">Nacimiento de un nuevo hermano</label>
		</div>
		<div class="col custom-control custom-checkbox">
			<input id="NF_situacion" type="checkbox" class="custom-control-input" >
			<label class="custom-control-label" for="NF_situacion">Situación económica</label>
		</div>
		<div class="col custom-control custom-checkbox">
			<input id="NF_rutina" type="checkbox" class="custom-control-input" >
			<label class="custom-control-label" for="NF_rutina">Cambio de rutina</label>
		</div>
	</div>

	<!-- INICIO ROW #8 -->	
	<div class="dropdown-divider"></div>
	<div class="row" style="margin: 15px 0px 0px 15px">
		<div class="col-12 font-weight-bold" >
			<span>PARTICIPACIÓN DE LOS PADRES EN:</span>
		</div>
	</div>
	<div class="row"style="margin: 0px 0px 0px 28px;">
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_diciplina" class="custom-select" >
				<option selected>Diciplina</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_acostarse" class="custom-select" >
				<option selected>Al acostarse</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_levantarse" class="custom-select" >
				<option selected>Al Levantarse</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_juegos" class="custom-select" >
				<option selected>Juegos</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_alimentos" class="custom-select" >
				<option selected>Hora de alimentos</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
		<div class="col-2 input-group input-group-sm mb-3">
			<select id="NF_bano" class="custom-select" >
				<option selected>Hora del baño</option>
				<option value="mamá">Mamá</option>
				<option value="papá">Papá</option>
				<option value="Ambos">Ambos</option>
			</select>
		</div>
	</div>
	<div class="row" style="margin: 0px 0px 15px 15px">
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col"></div>
		<div class="col-2">
			<button id="NF_btn_guardar" type="button" class="btn btn-club btn-sm" style="width:100%; height: 50px;">Guardar</button>
		</div> 
	</div>
</form>