<form [formGroup]="form_buscar" (ngSubmit)="buscar_direccion()">
        <div class="row" style="margin: 15px 0px 0px 0px">
            <div class="col-2 text-right font-weight-bold">
                <span>QUÉ VAS A HACER? </span>
            </div>
            <div class="col-5">
                <div class="custom-control custom-radio custom-control-inline">
                    <input id="DContacto_Nuevo" type="radio" class="custom-control-input" name="DContacto_opcion" checked>
                    <label class="custom-control-label" for="DContacto_Nuevo">Nuevo</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input id="DContacto_Modificar" type="radio" class="custom-control-input" name="DContacto_opcion">
                    <label class="custom-control-label" for="DContacto_Modificar">Modificar</label>
                </div>
            </div>
            <div class="input-group input-group-sm mb-3 col-3 aling-right">
                <div class="input-group-prepend">
                    <span class="input-group-text">ID Donante:</span>
                </div>
                <input type="text" formControlName="buscarID" class="form-control"
                    [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
            </div>
            <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
                <button class="btn btn-primary mr-1" style="width:100%;">buscar</button>
            </div>
        </div>
    </form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="agregar_direccion()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-8 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input type="text" formControlName="donacionID" class="form-control"
                        [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }" >
            <label for="nombrefiscal" style="margin-right: 10px; margin-left: 10px;">Nombre Fiscal </label>
            <input name="nombrefiscal" type="text" class="form-control" placeholder="Nombre Fiscal">
        </div>
        <div class="col-12 font-weight-bold">

            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Dirección 1</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="tipo1" style="margin-right: 10px">Tipo dirección </label>
            <select formControlName="tipodireccion1" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodireccion1.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Postal">Postal</option>
                <option value="Fiscal">Fiscal</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Casa">Casa</option>
                <option value="Otra Dirección">Otra Dirección</option>
            </select>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="text" formControlName="calle1" class="form-control" placeholder="Calle"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="noexterior1" class="form-control" placeholder="No exterior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="nointerior1" class="form-control" placeholder="No interior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="cp1" class="form-control" placeholder="CP"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input type="text" formControlName="colonia1" class="form-control" placeholder="Colonia"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais1" style="margin-right: 10px">País </label>
            <select formControlName="pais1" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais1.errors }">
                <option selected disabled>País: </option>
                <option value="México">México</option>
                <option value="Estados Unido">Estados Unido</option>
                <option value="Otro País">Otro País</option>
            </select>
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="text" formControlName="estado1" class="form-control" placeholder="Estado"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado1.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="text" formControlName="municipio1" class="form-control" placeholder="Municipio"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio1.errors }">
        </div>
    </div>
     <!-- INICIO ROW #2 -->
     <div class="row" style="margin: 15px 0px 0px 15px">
         <div class="col-12 font-weight-bold">
             <div class="dropdown-divider"></div>
             <span>Dirección 2</span>
            </div>
            <div class="col-4 input-group input-group-sm mb-3">
                <label for="tipo2" style="margin-right: 10px">Tipo dirección </label>
                <select formControlName="tipodireccion2" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodireccion2.errors }">
                    <option selected disabled>Tipo: </option>
                    <option value="Postal">Postal</option>
                    <option value="Fiscal">Fiscal</option>
                    <option value="Trabajo">Trabajo</option>
                    <option value="Casa">Casa</option>
                    <option value="Otra Dirección">Otra Dirección</option>
                </select>
            </div>
            <div class="col-4 input-group input-group-sm mb-3">
                <input type="text" formControlName="calle2" class="form-control" placeholder="Calle"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle2.errors }">
            </div>
            <div class="col-2 input-group input-group-sm mb-3">
                <input type="number" formControlName="noexterior2" class="form-control" placeholder="No exterior"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior2.errors }">
            </div>
            <div class="col-2 input-group input-group-sm mb-3">
                <input type="number" formControlName="nointerior2" class="form-control" placeholder="No interior"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior2.errors }">
            </div>
            <div class="col-2 input-group input-group-sm mb-3">
                <input type="number" formControlName="cp2" class="form-control" placeholder="CP"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp2.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <input type="text" formControlName="colonia2" class="form-control" placeholder="Colonia"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia2.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <label for="pais2" style="margin-right: 10px">País </label>
                <select formControlName="pais2" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais2.errors }">
                    <option selected disabled>País: </option>
                    <option value="México">México</option>
                    <option value="Estados Unido">Estados Unido</option>
                    <option value="Otro País">Otro País</option>
                </select>
            </div>
            <div class="col-2 input-group input-group-sm mb-3">
                <input type="text" formControlName="estado2" class="form-control" placeholder="Estado"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado2.errors }">
            </div>
            <div class="col-2 input-group input-group-sm mb-3">
                <input type="text" formControlName="municipio2" class="form-control" placeholder="Municipio"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio2.errors }">
            </div>
        </div>
      <!-- INICIO ROW #3 -->
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <span>Dirección 3</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="tipo3" style="margin-right: 10px">Tipo dirección </label>
            <select formControlName="tipodireccion3" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodireccion3.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Postal">Postal</option>
                <option value="Fiscal">Fiscal</option>
                <option value="Trabajo">Trabajo</option>
                <option value="Casa">Casa</option>
                <option value="Otra Dirección">Otra Dirección</option>
            </select>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="text" formControlName="calle3" class="form-control" placeholder="Calle"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle3.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="noexterior3" class="form-control" placeholder="No exterior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior3.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="nointerior3" class="form-control" placeholder="No interior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior3.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="number" formControlName="cp3" class="form-control" placeholder="CP"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp3.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input type="text" formControlName="colonia3" class="form-control" placeholder="Colonia"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia3.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais3" style="margin-right: 10px">País </label>
            <select formControlName="pais3" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais3.errors }">
                <option selected disabled>País: </option>
                <option value="México">México</option>
                <option value="Estados Unido">Estados Unido</option>
                <option value="Otro País">Otro País</option>
            </select>
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="text" formControlName="estado3" class="form-control" placeholder="Estado"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado3.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input type="text" formControlName="municipio3" class="form-control" placeholder="Municipio"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio3.errors }">
        </div>
    </div>
    <div class="row" style="margin: 0px 0px 15px 15px">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-2">
                <button name="DDF_btn_guardar" type="submit" class="btn btn-club btn-sm"
                    style="width:100%; height: 50px;">Guardar</button>
            </div>
            <div class="col-2">
                    <button class="btn btn-secondary" style="width:100%; height: 50px;" type="reset"
                        (click)="clean_Agregar()">Cancelar</button>
                </div>
        </div>
</form>