<form [formGroup]="form_buscar" (ngSubmit)="cambiar_valor_Padre()">
    <div class="row" style="margin: 15px 0px 0px 0px">
        <div class="input-group input-group-sm mb-3 col-3 aling-right">
            <div class="input-group-prepend">
                <span class="input-group-text">ID Donante:</span>
            </div>
            <input type="number" formControlName="buscarID" class="form-control"
                [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
        </div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="telefono_btn_buscar">
				<span id="spinner_buscar_telefono" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
    </div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="modificar_telefono()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input type="number" formControlName="donacionID" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
        </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Telefono Donante 1</span>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="tipo1" style="margin-right: 10px">Tipo de Telefono </label>
            <select formControlName="tipo1" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipo1.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Casa">Casa</option>
                <option value="Celular">Celular</option>
                <option value="Fax">Fax</option>
                <option value="Nextel">Nextel</option>
                <option value="Recados">Recados</option>
                <option value="Trabajo">Fax</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            
				<span style="margin-right: 10px">Telefono:</span>
            <input type="number" formControlName="telefono1" class="form-control" placeholder="Telefono"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.telefono1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Lada:</span>
            <input type="number" formControlName="lada1" class="form-control" placeholder="Lada"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.lada1.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Extension:</span>
            <input type="number" formControlName="extension1" class="form-control" placeholder="Ext."
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.extension1.errors }">
        </div>
        <div class="col-12 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observación:</span>
            <input type="text" formControlName="observacion1" class="form-control" placeholder="Observacion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion1.errors }">
        </div>
    </div>

    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-12 font-weight-bold">
            <span>Telefono Donante 2</span>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="tipo2" style="margin-right: 10px">Tipo de Telefono </label>
            <select formControlName="tipo2" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipo2.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Casa">Casa</option>
                <option value="Celular">Celular</option>
                <option value="Fax">Fax</option>
                <option value="Nextel">Nextel</option>
                <option value="Recados">Recados</option>
                <option value="Trabajo">Fax</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Telefono:</span>
            <input type="number" formControlName="telefono2" class="form-control" placeholder="Telefono"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.telefono2.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Lada:</span>
            <input type="number" formControlName="lada2" class="form-control" placeholder="Lada"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.lada2.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Extension:</span>
            <input type="number" formControlName="extension2" class="form-control" placeholder="Ext."
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.extension2.errors }">
        </div>
        <div class="col-12 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observación:</span>
            <input type="text" formControlName="observacion2" class="form-control" placeholder="Observacion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion2.errors }">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="dropdown-divider"></div>
        <div class="col-12 font-weight-bold">
            <span>Telefono Donante 3</span>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="tipo3" style="margin-right: 10px">Tipo de Telefono </label>
            <select formControlName="tipo3" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipo3.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Casa">Casa</option>
                <option value="Celular">Celular</option>
                <option value="Fax">Fax</option>
                <option value="Nextel">Nextel</option>
                <option value="Recados">Recados</option>
                <option value="Trabajo">Fax</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Telefono:</span>
            <input type="number" formControlName="telefono3" class="form-control" placeholder="Telefono"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.telefono3.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Lada:</span>
            <input type="number" formControlName="lada3" class="form-control" placeholder="Lada"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.lada3.errors }">
        </div>

        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Extension:</span>
            <input type="number" formControlName="extension3" class="form-control" placeholder="Ext."
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.extension3.errors }">
        </div>
        <div class="col-12 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observación:</span>
            <input type="text" formControlName="observacion3" class="form-control" placeholder="Observacion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion3.errors }">
        </div>
    </div>


    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="telefono_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar_telefono" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
        </div>
       
    </div>
</form>