<form action="">
  <div class="row" style="margin: 15px 0px 0px 0px">
    <div class="col-2 text-right font-weight-bold">
      <span>QUÉ VAS A HACER?</span>
    </div>
    <div class="col-5">
      <div class="custom-control custom-radio custom-control-inline">
        <input id="DS_nuevo" type="radio" class="custom-control-input" name="DS_opcion">
        <label class="custom-control-label" for="DS_nuevo">Nuevo</label>
      </div>
      <div class="custom-control custom-radio custom-control-inline">
        <input id="DS_modificar" type="radio" class="custom-control-input" name="DS_opcion">
        <label class="custom-control-label" for="DS_modificar">Modificar</label>
      </div>
    </div>
    <div class="input-group input-group-sm mb-3 col-3 aling-right">
      <div class="input-group-prepend">
        <span class="input-group-text">No. Miembro:</span>
      </div>
      <input id="DS_busc_miembro" type="text" class="form-control">
    </div>
    <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
      <button id="DS_btn_buscar" type="button" class="btn btn-club btn-sm" style="width:100%;">Buscar</button>
    </div>
  </div>
</form>
<!-- INICIO DE COL 12 DERECHOHABIENCIA -->
<div class="dropdown-divider"></div>
<div class="row " style="margin: 10px 0px 0px 0px">
  <div class="col-sm-6 border-right text-center">
    <span class="font-weight-bold">Transporte:</span><br>
    <span>Para llegar al club utilizara: </span>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_carro_propio">
      <label class="form-check-label" for="DS_carro_propio">Carro Propio</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_trasnporte_publico">
      <label class="form-check-label" for="DS_trasnporte_publico">Transporte publico</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_caminando">
      <label class="form-check-label" for="DS_caminando">Caminando</label>
    </div>
  </div>
  <div class="col-sm-6 text-center">
    <span class="font-weight-bold">Vivienda:</span><br>
    <span>La casa donde habita es: </span>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_casa_propio">
      <label class="form-check-label" for="DS_casa_propio">Casa Propio</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_casa_rentada">
      <label class="form-check-label" for="DS_casa_rentada">Casa Rentada</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_casa_prestada">
      <label class="form-check-label" for="DS_casa_prestada">Prestada</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_casa_pagando">
      <label class="form-check-label" for="DS_casa_pagando">Se esta pagando</label>
    </div>
  </div>
</div>
<!-- INICIO DE COL 12 DERECHOHABIENCIA -->
<div class="dropdown-divider "></div>
<div class=" col-6">
  <span class="font-weight-bold">Su casa cuenta con:</span><br>
</div>
<div class=" col-12 input-group">
  <div class="input-group-prepend">
    <span class="input-group-text">Cantidad</span>
  </div>
  <input id="DS_cocina" type="number" placeholder="Cocina" class="form-control">
  <input id="DS_comedor" type="number" placeholder="Comedor" class="form-control">
  <input id="DS_sala" type="number" placeholder="Sala" class="form-control">
  <input id="DS_bano" type="number" placeholder="Baño" class="form-control">
  <input id="DS_dormitorio" type="number" placeholder="Dormitorios" class="form-control">
  <input id="DS_jardin" type="number" placeholder="Jardin" class="form-control">
  <input id="DS_patio" type="number" placeholder="Patio" class="form-control">
  <input id="DS_terraza" type="number" placeholder="Terraza" class="form-control">
  <input id="DS_alberca" type="number" placeholder="Alberca" class="form-control">
  <input id="DS_estacionamiento" type="number" placeholder="Estacionamiento" class="form-control">
  <input id="DS_cuarto_lavado" type="number" placeholder="Cuarto de lavado" class="form-control">

</div>
<div class=" col-12 input-group">
  <div class="col-sm-6"><br>
    <span>La construcción es de: </span>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_construccion_madera">
      <label class="form-check-label" for="DS_construccion_madera">Madera</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_construccion_bloque">
      <label class="form-check-label" for="DS_construccion_bloque">Bloque</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_construccion_ladrillo">
      <label class="form-check-label" for="DS_construccion_ladrillo">Ladrillo</label>
    </div>
    <div class="form-check custom-control-inline">
      <div class="input-group mb-6">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input id="otro_contruccion" type="checkbox">
            <label class="form-check-label" for="otro_contruccion">Otro</label>
          </div>
        </div>
        <input id="DS_construccion_otro" type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-sm-6"><br>
    <span>El techo es de: </span>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_techo_madera">
      <label class="form-check-label" for="DS_techo_madera">Madera</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_techo_lamina">
      <label class="form-check-label" for="DS_techo_lamina">Lamina</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_techo_cemento">
      <label class="form-check-label" for="DS_techo_cemento">Cemento</label>
    </div>
    <div class="form-check custom-control-inline">
      <div class="input-group mb-6">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input id="otro_techo" type="checkbox">
            <label class="form-check-label" for="otro_techo">Otro</label>
          </div>
        </div>
        <input id="DS_techo_otro" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class=" col-12 input-group">
  <div class="col-sm-6"><br>
    <span>El piso es de: </span>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_piso_madera">
      <label class="form-check-label" for="DS_piso_madera">Madera</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_piso_loseta">
      <label class="form-check-label" for="DS_piso_loseta">Loseta</label>
    </div>
    <div class="form-check custom-control-inline">
      <input type="checkbox" class="form-check-input" id="DS_piso_cemento">
      <label class="form-check-label" for="DS_piso_cemento">Cemento</label>
    </div>
    <div class="form-check custom-control-inline">
      <div class="input-group mb-6">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input id="otro_piso" type="checkbox">
            <label class="form-check-label" for="otro_piso">Otro</label>
          </div>
        </div>
        <input id="DS_piso_otro" type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<!-- INICIO DE COL 12 DERECHOHABIENCIA -->
<div class="dropdown-divider"></div>
<div class=" col-6">
  <span class="font-weight-bold">Servicios con los que cuenta el hogar:</span><br>
</div>
<div class=" col-12 input-group">
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_luz">
    <label class="form-check-label" for="DS_servicio_luz">Luz</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_agua">
    <label class="form-check-label" for="DS_servicio_agua">Agua</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_drenaje">
    <label class="form-check-label" for="DS_servicio_drenaje">Drenaje</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_pavimento">
    <label class="form-check-label" for="DS_servicio_pavimento">Pavimento</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_gas">
    <label class="form-check-label" for="DS_servicio_gas">Gas</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_basura">
    <label class="form-check-label" for="DS_servicio_basura">Recoleccion de basura</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_alumbrado">
    <label class="form-check-label" for="DS_servicio_alumbrado">Alumbrado publico</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_telefono">
    <label class="form-check-label" for="DS_servicio_telefono">Telefono</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_tv">
    <label class="form-check-label" for="DS_servicio_tv">TV por cable</label>
  </div>
  <div class="form-check custom-control-inline">
    <input type="checkbox" class="form-check-input" id="DS_servicio_areasrecreativas">
    <label class="form-check-label" for="DS_servicio_areasrecreativas">Areas Recreativas</label>
  </div>
</div>
<div class=" col-12 input-group">
  <div class=" col-6">
    <div class=" col-6">
      <span class="font-weight-bold">Gastos Mensuales:</span><br>
    </div>
    <div class=" col-12 input-group">

      <input id="DS_gasto_vivienda" type="number" placeholder="Vivienda" class="form-control">

      <input id="DS_gasto_basura" type="number" placeholder="Recoleccion Basura" class="form-control">

      <input id="DS_gasto_luz" type="number" placeholder="Luz" class="form-control">
    </div>
    <div class=" col-12 input-group">

      <input id="DS_gasto_transporte" type="number" placeholder="Trasnporte" class="form-control">

      <input id="DS_gasto_agua" type="number" placeholder="Agua" class="form-control">

      <input id="DS_gasto_despensa" type="number" placeholder="Despensa" class="form-control">
    </div>
    <div class=" col-12 input-group">

      <input id="DS_gasto_gas" type="number" placeholder="Gas" class="form-control">

      <input id="DS_gasto_telefono" type="number" placeholder="Telefono" class="form-control">

      <input id="DS_gasto_tv" type="number" placeholder="TV" class="form-control">
    </div>
    <div class=" col-12 input-group">

      <input id="DS_gasto_deudas" type="number" placeholder="Deudas" class="form-control">

      <input id="DS_gasto_entretenimiento" type="number" placeholder="Entretenimiento" class="form-control">

      <input id="DS_gasto_total" type="number" placeholder="Total Gasto Mensual" class="form-control">
    </div>


  </div>
  <div class=" col-6">
    <br>
    <span class="font-weight-bold">Para uso exclusivo del Club:</span><br>
    <div class=" col-12 input-group">
      <input id="DS_tipo_familia" type="text" placeholder="Tipo de Familia" class="form-control">
      <input id="DS_nivel_ingreso" type="number" placeholder="Nivel de ingreso mensual" class="form-control">
    </div>
    <div class="col-4 float-right">
      <button id="DS_btn_guardar" type="button" class="btn btn-club btn-sm"
        style="width:100%; margin-top: 50px; height: 80px;">Guardar</button>
      <br><br><br>
    </div>
    <br><br><br>
  </div>
  <br><br><br>

</div>