<form [formGroup] = "form_buscar" (ngSubmit)="buscar_lider()">
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="col-2 text-right font-weight-bold" >
			<span>Opción:</span>
		</div>
		<div class="col-5">
			<div class="custom-control custom-radio custom-control-inline">
                <input id="li_Nuevo" type="radio" class="custom-control-input" name="li_opcion" value="nuevo" 
                (change)="radioChange($event)" [checked] = "true">
				<label class="custom-control-label" for="li_Nuevo">Nuevo</label>
			</div>
			<div class="custom-control custom-radio custom-control-inline">
				<input id="li_Modificar" type="radio" class="custom-control-input" name="li_opcion" value="modificar" (change)="radioChange($event)">
				<label class="custom-control-label" for="li_Modificar">Modificar</label>
			</div>
		</div>
		<div class="input-group input-group-sm mb-3 col-3 aling-right">
			<div class="input-group-prepend">
				<span class="input-group-text">No. Lider:</span>
			</div>
            <input type="number" formControlName="buscarID"  class="form-control" 
            [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
		</div>
		<div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="lider_btn_buscar" name="lider_btn_buscar" [disabled] = "true">
				<span id="spinner_buscar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
	</div>
</form>

<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="opcion_lider()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-12 font-weight-bold">
            <span>lider</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="number" formControlName="liderID" class="form-control" placeholder="liderID" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.liderID.errors }">
            <div *ngIf="submit_agregar && f_A.liderID.errors" class="invalid-feedback">
                <div *ngIf="f_A.liderID.errors.required">*Favor de llenar el campo</div>
            </div>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input type="text" formControlName="descripcion" class="form-control" placeholder="Descripcion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.descripcion.errors }">
            <div *ngIf="submit_agregar && f_A.descripcion.errors" class="invalid-feedback">
                <div *ngIf="f_A.descripcion.errors.required">*Favor de llenar el campo</div>
            </div>
        </div>
    </div>

    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="lider_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" style="width:100%; height: 50px;" type="reset"
                (click)="clear_Agregar()">Cancelar</button>
        </div>
    </div>
</form>

<div class="container border rounded">
    <div class="row" style="margin: 15px 15px 0px 0px">
        <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
            <label class="font-weight-bold">LIDER:</label>
        </div>
        <div class="col-12">
            <form>
                <table class="table text-center table-bordered table-sm rounded">
                    <thead style="background-color: #00AAE7; color: white;">
                        <tr>
                            <th scope="col">lider ID</th>
                            <th scope="col">Descripcion</th>
                            <th scope="col" hidden="true">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let lider of arrayLideres; let i=index">

                            <th scope="row">{{lider.liderID}}</th>
                            <td>{{lider.descripcion}}</td>
                            <td hidden="true">
                                <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                                background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm" (click)="eliminar_lider(lider.liderID)">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>