<navbar></navbar>
<div class="container border rounded">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#generales" data-toggle="tab">Datos generales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#familia" data-toggle="tab">Núcleo Familia</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#socioeconomico" data-toggle="tab">Estudio socioeconómicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#medico" data-toggle="tab">Datos médicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#educacion" data-toggle="tab">Educación</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="#deporte" data-toggle="tab">Deporte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#arte" data-toggle="tab">Arte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="#desarrollo" data-toggle="tab">Desarrollo Humano</a>
		</li>
	</ul>
	<div class="tab-content">
		<form [formGroup] = "form_buscar" (ngSubmit)="busq_Form()">
			<div class="row" style="margin: 15px 0px 0px 0px">
				<div class="col-2 text-right font-weight-bold" >
					<span>QUÉ VAS A HACER?</span>
				</div>
				<div class="col-5">
					<div class="custom-control custom-radio custom-control-inline">
						<input id="DG_Nuevo" type="radio" class="custom-control-input" name="DG_opcion" value="nuevo" (change)="radioChange($event)" [checked] = "true">
						<label class="custom-control-label" for="DG_Nuevo">Nuevo</label>
					</div>
					<div class="custom-control custom-radio custom-control-inline">
						<input id="DG_Modificar" type="radio" class="custom-control-input" name="DG_opcion" value="modificar" (change)="radioChange($event)">
						<label class="custom-control-label" for="DG_Modificar">Modificar</label>
					</div>
				</div>
				<div class="input-group input-group-sm mb-3 col-3 aling-right">
					<div class="input-group-prepend">
						<span class="input-group-text">No. Miembro:</span>
					</div>
					<input type="number" formControlName="miembroID"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.miembroID.errors }">
				</div>
				<div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
					<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="btn_buscar" [disabled] = "true">
						<span id="spinner_buscar" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
						Buscar
					</button>
				</div> 
			</div>
		</form>
	</div>
	<div class="dropdown-divider"></div>
	<div class="tab-content">
		<div class="tab-pane active" id="generales">
			<datos-generales [global] = "global" [agregar_o_modificar] = "agregar_o_modificar" (padre_var)="asig_hijo_a_padre($event)"></datos-generales>
		</div>
		<div class="tab-pane" id="familia">
			<nucleo-familiar [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></nucleo-familiar>
		</div>
		<div class="tab-pane" id="socioeconomico">
			<ds-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></ds-ninos>
		</div>
		<div class="tab-pane" id="medico">
			<dm-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></dm-ninos>
		</div>
		<div class="tab-pane" id="educacion">
			<educacion-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></educacion-ninos>
		</div>
		<div class="tab-pane" id="deporte">
			<deporte-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></deporte-ninos>
		</div>
		<div class="tab-pane" id="arte">
			<arte-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></arte-ninos>
		</div>
		<div class="tab-pane " id="desarrollo">
			<dh-ninos [global] = "global" (padre_var)="asig_hijo_a_padre($event)"></dh-ninos>
		</div>
	</div>

</div>
