<navbar></navbar>
<br>
<p>
		<!-- {{miembros}} -->
</p>

<div class="container border rounded">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#generales" data-toggle="tab">Datos generales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#familia" data-toggle="tab">Núcleo Familia</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#socioeconomico" data-toggle="tab">Estudio socioeconómicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#medico" data-toggle="tab">Datos médicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#educacion" data-toggle="tab">Educación</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link" href="#deporte" data-toggle="tab">Deporte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#arte" data-toggle="tab">Arte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="#desarrollo" data-toggle="tab">Desarrollo Humano</a>
		</li>
	</ul>
	{{var_global}}
	<button (click)="papu()">paupu</button>
	<button (click)="nopasa()">No pasa nada</button>
	<div class="col-2 text-right font-weight-bold" >
		<span>QUÉ VAS A HACER?</span>
	</div>
	<div class="col-5">
		<div class="custom-control custom-radio custom-control-inline">
			<input id="DG_Nuevo" type="radio" class="custom-control-input" name="DG_opcion" value="nuevo" [checked] = "true">
			<label class="custom-control-label" for="DG_Nuevo">Nuevo</label>
		</div>
		<div class="custom-control custom-radio custom-control-inline">
			<input id="DG_Modificar" type="radio" class="custom-control-input" name="DG_opcion" value="modificar" >
			<label class="custom-control-label" for="DG_Modificar">Modificar</label>
		</div>
	</div>
	<div class="tab-content">
		<div class="tab-pane active" id="generales">
			<datos-generales [var_global]="var_global" (padre_variable)="asignacion_valor_variables_padre($event)"></datos-generales>
		</div>
		<div class="tab-pane" id="familia">
			<nucleo-familiar [var_global]="var_global"></nucleo-familiar>
		</div>
		<div class="tab-pane" id="socioeconomico">
			<ds-ninos [var_global]="var_global"></ds-ninos>
		</div>
		<div class="tab-pane" id="medico">
			<dm-ninos [var_global]="var_global"></dm-ninos>
		</div>
		<div class="tab-pane" id="educacion">
			<educacion-ninos [var_global]="var_global"></educacion-ninos>
		</div>
		<div class="tab-pane" id="deporte">
			<deporte-ninos [var_global]="var_global"></deporte-ninos>
		</div>
		<div class="tab-pane" id="arte">
			<arte-ninos [var_global]="var_global"></arte-ninos>
		</div>
		<div class="tab-pane " id="desarrollo">
			<dh-ninos [var_global]="var_global"></dh-ninos>
		</div>
	</div>
</div>
