<navbar></navbar>
<br>
<p>
		<!-- {{miembros}} -->
</p>


<div class="container border rounded">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link " href="#generales" data-toggle="tab">Datos generales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#familia" data-toggle="tab">Núcleo Familia</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#socioeconomico" data-toggle="tab">Estudio socioeconómicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#medico" data-toggle="tab">Datos médicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#educacion" data-toggle="tab">Educación</a>
		</li>
		<li class="nav-item active">
			<a class="nav-link" href="#deporte" data-toggle="tab">Deporte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link " href="#arte" data-toggle="tab">Arte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#desarrollo" data-toggle="tab">Desarrollo Humano</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane" id="generales">
			<datos-generales [miembro]="miembros" (exampleOutput)="exampleMethodParent($event)"></datos-generales>
		</div>
		<div class="tab-pane" id="familia">
			<nucleo-familiar [miembro]="miembros"></nucleo-familiar>
		</div>
		<div class="tab-pane" id="socioeconomico">
			<ds-ninos [miembro]="miembros"></ds-ninos>
		</div>
		<div class="tab-pane" id="medico">
			<dm-ninos [miembro]="miembros"></dm-ninos>
		</div>
		<div class="tab-pane" id="educacion">
			<educacion-ninos [miembro]="miembros"></educacion-ninos>
		</div>
		<div class="tab-pane active" id="deporte">
			<deporte-ninos [miembro]="miembros"></deporte-ninos>
		</div>
		<div class="tab-pane" id="arte">
			<arte-ninos [miembro]="miembros"></arte-ninos>
		</div>
		<div class="tab-pane" id="desarrollo">
			<dh-ninos [miembro]="miembros"></dh-ninos>
		</div>
	</div>

</div>
