<navbar-donante></navbar-donante>
<br>
<div class="container border rounded">
    <form [formGroup]="form_buscar" (ngSubmit)="buscar_donante()">
        <div class="row" style="margin: 15px 0px 0px 0px">
            <div class="col-2 text-left font-weight-bold">
                <span>Buscar por: </span>
            </div>

            <div class="col-4 text-left custom-control-inline" style=" margin-left: -80px;">
                <div class="custom-control custom-radio custom-control-inline">
                    <input id="BUSQ_no_donante" type="radio" class="custom-control-input" name="BUSQ_donante"
                        checked="">
                    <label class="custom-control-label" for="BUSQ_no_donante">Número de donante</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input id="BUSQ_nombre" type="radio" class="custom-control-input" name="BUSQ_donante">
                    <label class="custom-control-label" for="BUSQ_nombre">Nombre</label>
                </div>

            </div>
            <div class="col-3 input-group input-group-sm mb-3" style="margin-left: -80px;">
                <input type="text" formControlName="buscarID" class="form-control"
                    [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
                <div *ngIf="submit_buscar && f_B.buscarID.errors" class="invalid-feedback">
                    <div *ngIf="f_B.buscarID.errors.required">Campo requerido para busqueda.</div>
                </div>
            </div>
            <div class="col-2 text-center" style="margin-left: 0px;">
                <button class="btn btn-primary mr-1">buscar</button>
                <button class="btn btn-secondary" type="reset" (click)="clean_Buscar()">Borrar</button>
            </div>
            
        </div>
    </form>
    <form [formGroup]="form_agregar" (ngSubmit)="agregar_donante()">
        <!-- INICIO ROW #1 -->
        <div class="dropdown-divider"></div>
        <div class="row" style="margin: 15px 0px 0px 15px">
            <div class="col-8 input-group input-group-sm mb-3">
                <label for="id" style="margin-right: 10px">ID Donante</label>
                <input id="id" type="text" class="form-control" placeholder="Donante ID" disabled>
                <label for="info" style="margin-right: 10px; margin-left: 10px;">Nombre Fiscal </label>
                <input id="info" type="text" class="form-control " placeholder="Nombre Fiscal" disabled>
            </div>
            <div class="col-12 font-weight-bold">
                <div class="dropdown-divider"></div>
                <div class="dropdown-divider"></div>
                <span>Donación</span>
            </div>
            <div class="col-4 input-group input-group-sm mb-3">
                <label for="tipo" style="margin-right: 10px">Tipo donación </label>
                <select formControlName="tipodonacion" class="custom-select"
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodonacion.errors }">
                    <option selected disabled>Tipo: </option>
                    <option value="Cheque">Cheque</option>
                    <option value="Deposito Bancario">Deposito Bancario</option>
                    <option value="Donativo Especie">Donativo en Especie</option>
                    <option value="Efectivo">Efectivo</option>
                    <option value="Paypal">Paypal</option>
                    <option value="Tarjeta Debito/Credito">Tarjeta de Debito/Credito</option>
                    <option value="Transferencia Bancaria">Transferencia Bancaria</option>
                </select>
            </div>
            
            <div class="col-4 input-group input-group-sm mb-3">
                <input type="number" formControlName="monto" class="form-control" placeholder="Monto"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.monto.errors }">
                <div *ngIf="submit_agregar && f_A.monto.errors" class="invalid-feedback">
                        <div *ngIf="f_A.monto.errors.required">Asigne un monto.</div>
                    </div>
            </div>
            <div class="col-4 input-group input-group-sm mb-3">
                    <input type="text" formControlName="banco" class="form-control" placeholder="Banco"
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.banco.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <label for="estatus" style="margin-right: 10px">Estatus </label>
                <select formControlName="estatus" class="custom-select"
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.estatus.errors }">
                    <option selected disabled>Seleccione</option>
                    <option value="Cobrado">Cobrado</option>
                    <option value="Sin cobrar">Sin cobrar</option>
                    <option value="En espera">En espera</option>
                    <option value="Recibido">Recibido</option>
                </select>
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <input type="number" formControlName="numero" class="form-control" placeholder="Numero"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.numero.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <input type="number" formControlName="codigo" class="form-control" placeholder="Codigo"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.codigo.errors }">
            </div>

            <div class="col-3 input-group input-group-sm mb-3">
                <label for="vence" style="margin-right: 10px">Vence: </label>
                <input type="date" formControlName="vence" class="form-control"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.vence.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <label for="primerpago" style="margin-right: 10px">Primer pago: </label>
                <input type="date" formControlName="primerpago" class="form-control"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.primerpago.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <input type="text" formControlName="cargo" class="form-control" placeholder="Cargo"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.cargo.errors }">
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <label for="frecuencia" style="margin-right: 10px">Frecuencia: </label>
                <select formControlName="frecuencia" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.frecuencia.errors }">
                    <option selected disabled>Seleccione </option>
                    <option value="Mensual">Mensual</option>
                    <option value="Bimestral">Bimestral</option>
                    <option value="Trimestral">Trimestral</option>
                    <option value="Cuatrimestral">Cuatrimestral</option>
                    <option value="Semestral">Semestral</option>
                    <option value="Anual">Anual</option>
                    <option value="Unica vez">Unica vez</option>
                </select>
            </div>
            <div class="col-3 input-group input-group-sm mb-3">
                <label for="ultimopago" style="margin-right: 10px">Ultimo pago: </label>
                <input type="date" formControlName="ultimopago" class="form-control" placeholder="Ultimo Pago"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.ultimopago.errors }">
            </div>
            <div class="col-12 input-group input-group-sm mb-3">
                <input type="text" formControlName="observacion" class="form-control" placeholder="Observacion"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion.errors }">
            </div>
        </div>


        <div class="row" style="margin: 0px 0px 15px 15px">
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col"></div>
            <div class="col-2">
                    <button class="btn btn-primary mr-1" style="width:100%; height: 50px;">Guardar</button>
                </div>
                <div class="col-2">
                    <button class="btn btn-secondary" style="width:100%; height: 50px;" type="reset"
                        (click)="clean_Agregar()">Cancelar</button>
                </div>
        </div>
    </form>
</div>
<div class="container border rounded">
    <div class="row" style="margin: 15px 15px 0px 0px">
        <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
            <label class="font-weight-bold">Resultados</label>
        </div>
        <div class="col-12">
            <form action="">
                <table class="table text-center table-bordered table-sm rounded">
                    <thead style="background-color: #00AAE7; color: white;">
                        <tr>
                            <th scope="col">Numero Aportación</th>
                            <th scope="col">Tipo Donación</th>
                            <th scope="col">Monto</th>
                            <th scope="col">Status</th>
                            <th scope="col">Vence</th>
                            <th scope="col">Banco</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                            <th scope="row">1</th>
                            <td>Efectivo</td>
                            <td>$ 25,000</td>
                            <td>Cobrado</td>
                            <td>07/08/2014</td>
                            <td>HSBC</td>
                            <td>
                                <button id="BUSQ_btn_modificar" type="button"
                                    class="btn btn-info btn-sm">Modificar</button>
                                <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                            background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">1</th>
                            <td>Efectivo</td>
                            <td>$ 25,000</td>
                            <td>Cobrado</td>
                            <td>07/08/2014</td>
                            <td>HSBC</td>
                            <td>
                                <button id="BUSQ_btn_modificar" type="button"
                                    class="btn btn-info btn-sm">Modificar</button>
                                <button id="BUSQ_btn_eliminar" style="margin-left: 10px; 
                                            background-color: rgb(224, 8, 8); " type="button"
                                    class="btn btn-info btn-sm">Eliminar</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>