<navbar-co></navbar-co>
<br>
<div class="container border rounded">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#reporte-ninos" data-toggle="tab">Miembros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#reporte-donacion" data-toggle="tab">Donacion</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#incidencias" data-toggle="tab">Incidencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Servicio-Social" data-toggle="tab">Servicio-Social</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="reporte-ninos">
                <rp-ninos></rp-ninos>
            </div>
            <div class="tab-pane " id="reporte-donacion">
               <rp-donacion></rp-donacion>
            </div>
            <div class="tab-pane" id="incidencias">
                    <rp-incidencia></rp-incidencia>
            </div>
            <div class="tab-pane" id="Servicio-Social">
                    <rp-ss></rp-ss>
            </div>
        </div>
    
    </div>

