<form #ng_busq_Form="ngForm" (ngSubmit)="(ng_busq_Form.value)">
    <div class="row" style="margin: 15px 0px 0px 0px">
        <div class="col-2 text-right font-weight-bold">
            <span>QUÉ VAS A HACER? </span>
        </div>
        <div class="col-5">
            <div class="custom-control custom-radio custom-control-inline">
                <input id="DDFiscal_Nuevo" type="radio" class="custom-control-input" name="DDFiscal_opcion"
                    (ngModelChange)="nuevo()">
                <label class="custom-control-label" for="DDFiscal_Nuevo">Nuevo</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input id="DDFiscal_Modificar" type="radio" class="custom-control-input" name="DDFiscal_opcion"
                    (ngModelChange)="modificar()">
                <label class="custom-control-label" for="DDFiscal_Modificar">Modificar</label>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3 col-3 aling-right">
            <div class="input-group-prepend">
                <span class="input-group-text">ID Donante:</span>
            </div>
            <input id="DDFiscal_busc_donante" name="DDFiscal_busc_donante" type="text" class="form-control">
        </div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
            <button name="DDFiscal_btn_buscar" type="button" class="btn btn-club btn-sm"
                style="width:100%;">Buscar</button>
        </div>
    </div>
</form>
<div class="dropdown-divider"></div>
<form #form_NF="ngForm" (ngSubmit)="guardar_DDFiscal(form_DDFiscal.value)">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-8 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input name="donacionID" type="text" class="form-control" placeholder="Donante ID" ngModel>
            <label for="nombrefiscal" style="margin-right: 10px; margin-left: 10px;">Nombre Fiscal </label>
            <input name="nombrefiscal" type="text" class="form-control" placeholder="Nombre Fiscal" ngModel>
        </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Datos Fiscales</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input name="rfc" type="text" class="form-control" placeholder="RFC" ngModel>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input name="nombre" type="text" class="form-control" placeholder="Nombre" ngModel>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <input name="calle" type="text" class="form-control" placeholder="Calle" ngModel>
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input name="nointerior" type="number" class="form-control" placeholder="No. interior" ngModel>
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input name="noexterior" type="number" class="form-control" placeholder="No. exterior" ngModel>
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
            <input name="cp" type="number" class="form-control" placeholder="CP" ngModel>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input name="colonia" type="text" class="form-control" placeholder="Colonia" ngModel>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais" style="margin-right: 10px">País </label>
            <select name="pais" class="custom-select" ngModel>
                <option selected disabled>País: </option>
                <option value="México">México</option>
                <option value="Estados Unido">Estados Unido</option>
                <option value="Otro País">Otro País</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input name="estado1" type="text" class="form-control" placeholder="Estado" ngModel>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input name="municipio1" type="text" class="form-control" placeholder="Municipio" ngModel>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input name="email1" type="text" class="form-control" placeholder="Email" ngModel>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <input name="email2" type="text" class="form-control" placeholder="2o Email" ngModel>
        </div>
    </div>
    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="DDF_btn_guardar" type="submit" class="btn btn-club btn-sm"
                style="width:100%; height: 50px;">Guardar</button>
        </div>
    </div>
</form>