<form [formGroup]="form_buscar" (ngSubmit)="cambiar_valor_Padre()">
    <div class="row" style="margin: 15px 0px 0px 0px">
        <div class="input-group input-group-sm mb-3 col-3 aling-right">
            <div class="input-group-prepend">
                <span class="input-group-text">ID Donante:</span>
            </div>
            <input type="number" formControlName="buscarID" class="form-control"
                [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
        </div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="evento_btn_buscar">
				<span id="spinner_buscar_dfiscales" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
    </div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="modificar_dfiscales()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
            <div class="col-8 input-group input-group-sm mb-3">
                <label for="donacionID" style="margin-right: 10px">ID Donante</label>
                <input type="number" formControlName="donacionID" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }" >
                    <label for="datosfiscalesID" style="margin-right: 10px">ID DFiscales</label>
                    <input type="number" formControlName="datosfiscalesID" class="form-control"
                        [ngClass]="{ 'is-invalid': submit_agregar && f_A.datosfiscalesID.errors }" >
                </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Datos Fiscales</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">RFC:</span>
            <input type="text" formControlName="rfc" class="form-control" placeholder="RFC"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.rfc.errors }">
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Nombre Fiscal:</span>
            <input type="text" formControlName="nombre" class="form-control" placeholder="Nombre"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombre.errors }">
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Calle:</span>
            <input type="text" formControlName="calle" class="form-control" placeholder="Calle"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.calle.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Int:</span>
            <input type="number" formControlName="nointerior" class="form-control" placeholder="No interior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.nointerior.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">No. Ext:</span>
            <input type="number" formControlName="noexterior" class="form-control" placeholder="No exterior"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.noexterior.errors }">
        </div>
        <div class="col-2 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">CP:</span>
            <input type="number" formControlName="cp" class="form-control" placeholder="Codigo Postal"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.cp.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Colonia:</span>
            <input type="text" formControlName="colonia" class="form-control" placeholder="Colonia"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.colonia.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="pais" style="margin-right: 10px">País </label>
            <select formControlName="pais" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.pais.errors }">
                <option selected disabled>País: </option>
                <option value="México">México</option>
                <option value="Estados Unido">Estados Unido</option>
                <option value="Otro País">Otro País</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Estado:</span>
            <input type="text" formControlName="estado" class="form-control" placeholder="Estado"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Municipio:</span>
            <input type="text" formControlName="municipio" class="form-control" placeholder="Municipio"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.municipio.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Email:</span>
            <input type="text" formControlName="email1" class="form-control" placeholder="Email"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.email1.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">2o. Email:</span>
            <input type="text" formControlName="email2" class="form-control" placeholder="2o. Email"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.email2.errors }">
        </div>
    </div>
    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="direccion_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar_dfiscales" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
        </div>
        <div class="col-2">
                <button class="btn btn-secondary" style="width:100%; height: 50px;" type="reset"
                    (click)="clean_Agregar()">Cancelar</button>
            </div>
    </div>
</form>