<navbar-admin></navbar-admin>
<!-- <button id="btn_redirect_menu" [hidden]="puesto != 'Administrador'" 
	type="button" class="btn  btn-info admin"  (click)="redireccion_menu()">Menu Administrador</button> -->
<br>
<div class="container border rounded">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="#registro" data-toggle="tab">Registro Usuario</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Modificacion" data-toggle="tab">Modificar Usuario</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="#informe" data-toggle="tab">Informe</a>
        </li> -->
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="registro">
            <newuser-admin></newuser-admin>
        </div>
        <div class="tab-pane " id="Modificacion">
            <modifuser-admin></modifuser-admin>
        </div>
        <!-- <div class="tab-pane " id="informe">
            <informe-admin></informe-admin>
        </div> -->
    </div>
</div>
