<navbar-dh></navbar-dh>

<div class="container border rounded" style="margin-top: 15px">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link active" href="#crear_incidencia" data-toggle="tab">Crear incidencia</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#historial_incidencia" data-toggle="tab">Historial de indicencias</a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="crear_incidencia">
			<crear-incidencia></crear-incidencia>
		</div>
		<div class="tab-pane" id="historial_incidencia">
			<historial-incidencias></historial-incidencias>
		</div>
	</div>
</div>