<navbar></navbar>
<br>
<div class="container border rounded">
	<ul class="nav nav-tabs nav-justified">
		<li class="nav-item">
			<a class="nav-link active" href="#registro" data-toggle="tab">Registro</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#historial" data-toggle="tab">Historial</a>
		</li>
	</ul>
	
	<div class="tab-content">
		<div class="tab-pane active" id="registro">
			<registro></registro>
		</div>
		<div class="tab-pane" id="historial">
			<historial></historial>
		</div>
	</div>
</div>
