<form [formGroup] = "form_buscar" (ngSubmit)="cambiar_valor_Padre()">
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="input-group input-group-sm mb-3 col-3 aling-right">
			<div class="input-group-prepend">
				<span class="input-group-text">ID Donante:</span>
			</div>
			<input type="number" formControlName="buscarID"  class="form-control" [ngClass]="{ 'is-invalid': submit_buscar && f_B.buscarID.errors }">
		</div>
        <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
			<button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="fdonacion_btn_buscar" >
				<span id="spinner_buscar_fdonante" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Buscar</button>
		</div> 
    </div>
    <div>
            <div class="dropdown-divider"></div>
            <div class="font-weight-bold" >
                    <span>Opción:</span>
                </div>
                <div class="col-5">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="fdonacion_Nuevo" type="radio" class="custom-control-input" name="donacion_opcion" 
                        value="nuevo" (change)="radioChange($event)" [checked] = "focus">
                        <label class="custom-control-label" for="fdonacion_Nuevo">Nuevo</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input id="fdonacion_Modificar" type="radio" class="custom-control-input" name="donacion_opcion" 
                        value="modificar" (change)="radioChange($event)" [checked] = "!focus">
                        <label class="custom-control-label" for="fdonacion_Modificar">Modificar</label>
                    </div>
                </div>
    </div>
</form>
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="opcion_fdonacion()">
    <!-- INICIO ROW #1 -->
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 15px 0px 0px 15px">
        <div class="col-8 input-group input-group-sm mb-3">
            <label for="donacionID" style="margin-right: 10px">ID Donante</label>
            <input type="number" formControlName="donacionID" class="form-control" readonly
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.donacionID.errors }" >
                <label for="formadonacionID" style="margin-right: 10px">ID Forma</label>
                <input type="number" formControlName="formadonacionID" class="form-control" readonly
                    [ngClass]="{ 'is-invalid': submit_agregar && f_A.formadonacionID.errors }" >
        </div>
        <div class="col-12 font-weight-bold">
            <div class="dropdown-divider"></div>
            <div class="dropdown-divider"></div>
            <span>Donación</span>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
            <label for="tipo" style="margin-right: 10px">Tipo donación </label>
            <select formControlName="tipodonacion" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.tipodonacion.errors }">
                <option selected disabled>Tipo: </option>
                <option value="Cheque">Cheque</option>
                <option value="Deposito Bancario">Deposito Bancario</option>
                <option value="Donativo Especie">Donativo en Especie</option>
                <option value="Efectivo">Efectivo</option>
                <option value="Paypal">Paypal</option>
                <option value="Tarjeta Debito/Credito">Tarjeta de Debito/Credito</option>
                <option value="Transferencia Bancaria">Transferencia Bancaria</option>
            </select>
        </div>
        
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Monto:</span>
            <input type="number" formControlName="monto" class="form-control" placeholder="Monto"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.monto.errors }">
            <div *ngIf="submit_agregar && f_A.monto.errors" class="invalid-feedback">
                    <div *ngIf="f_A.monto.errors.required">Asigne un monto.</div>
                </div>
        </div>
        <div class="col-4 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Banco:</span>
                <input type="text" formControlName="banco" class="form-control" placeholder="Banco"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.banco.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="estatus" style="margin-right: 10px">Estatus </label>
            <select formControlName="estatus" class="custom-select"
                [ngClass]="{ 'is-invalid': submit_agregar && f_A.estatus.errors }">
                <option selected disabled>Seleccione</option>
                <option value="Cobrado">Cobrado</option>
                <option value="Sin cobrar">Sin cobrar</option>
                <option value="En espera">En espera</option>
                <option value="Recibido">Recibido</option>
            </select>
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Numero:</span>
            <input type="number" formControlName="numero" class="form-control" placeholder="Numero"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.numero.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Codigo:</span>
            <input type="number" formControlName="codigo" class="form-control" placeholder="Codigo"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.codigo.errors }">
        </div>

        <div class="col-3 form-group input-group-sm mb-3" >
			<label for="vence" style="padding: 0px; font-size: 13px;">Vence: </label>
			<input formControlName="vence" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.vence.errors }" id="vence" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
        <div class="col-3 form-group input-group-sm mb-3" >
			<label for="primerpago" style="padding: 0px; font-size: 13px;">Primer Pago: </label>
			<input formControlName="primerpago" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.primerpago.errors }" id="primerpago" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
        <div class="col-3 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Cargo:</span>
            <input type="text" formControlName="cargo" class="form-control" placeholder="Cargo"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.cargo.errors }">
        </div>
        <div class="col-3 input-group input-group-sm mb-3">
            <label for="frecuencia" style="margin-right: 10px">Frecuencia: </label>
            <select formControlName="frecuencia" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.frecuencia.errors }">
                <option selected disabled>Seleccione </option>
                <option value="Mensual">Mensual</option>
                <option value="Bimestral">Bimestral</option>
                <option value="Trimestral">Trimestral</option>
                <option value="Cuatrimestral">Cuatrimestral</option>
                <option value="Semestral">Semestral</option>
                <option value="Anual">Anual</option>
                <option value="Unica vez">Unica vez</option>
            </select>
        </div>
        <div class="col-3 form-group input-group-sm mb-3" >
			<label for="ultimopago" style="padding: 0px; font-size: 13px;">Ultimo Pago: </label>
			<input formControlName="ultimopago" placeholder="Fecha de inscripción" type="date" class="form-control"  
			[ngClass]="{ 'is-invalid': submit_agregar && f_A.ultimopago.errors }" id="ultimopago" data-toggle="tooltip" 
			data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
		</div>
        <div class="col-12 input-group input-group-sm mb-3">
				<span style="margin-right: 10px">Observación:</span>
            <input type="text" formControlName="observacion" class="form-control" placeholder="Observacion"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.observacion.errors }">
        </div>
    </div>


    <div class="row" style="margin: 0px 0px 15px 15px">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col"></div>
        <div class="col-2">
            <button name="fdonante_btn_guardar"  class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                <span id="spinner_agregar_contacto" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
                Guardar
            </button>
            </div>
            
    </div>
</form>
<div class="container border rounded">
        <div class="row" style="margin: 15px 15px 0px 0px">
            <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
                <label class="font-weight-bold">Aportacion: </label>
            </div>
            <div class="col-12">
                <form>
                    <table class="table text-center table-bordered table-sm rounded">
                        <thead style="background-color: #00AAE7; color: white;">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tipodonacion</th>
                                <th scope="col">Monto</th>
                                <th scope="col">Banco</th>
                                <th scope="col">Estatus</th>
                                <th scope="col">Primerpago</th>
                                <th scope="col">Frecuencia</th>
                                <th scope="col">Observacion</th>
                                <th scope="col">Opción</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let fdonacion of arrayFdonacion; let i=index">
                                <td>{{fdonacion.formadonacionID}}</td>
                                <td>{{fdonacion.tipodonacion}}</td>
                                <td>{{fdonacion.monto}}</td>
                                <td>{{fdonacion.banco}}</td>
                                <td>{{fdonacion.estatus}}</td>
                                <td>{{fdonacion.primerpago | date:'yyyy/MM/dd'}}</td>
                                <td>{{fdonacion.frecuencia }}</td>
                                <td>{{fdonacion.observacion }}</td>
                                <td>
                                    <button id="BUSQ_btn_modificar" type="button" class="btn btn-info btn-sm"
                                    (click)="buscar_fdonante(fdonacion.formadonacionID)">Modificar</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>