<navbar-donante></navbar-donante>
<br>
<div class="container border rounded">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="#Lider" data-toggle="tab">Lider</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#Campaña" data-toggle="tab">Campaña</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link" href="#Evento" data-toggle="tab">Evento</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="Lider">
            <lider-catalogo></lider-catalogo>
        </div>
        <div class="tab-pane " id="Campaña">
            <campana-catalogo></campana-catalogo>
        </div>
        <div class="tab-pane" id="Evento">
            <evento-catalogo></evento-catalogo>
        </div>
    </div>

</div>