<div style="margin: 0px 30px 0px 15px;" class="text-center">
	<ngb-alert *ngIf="visible==true" (close)="cerrar_alert()" type="{{tipo}}">{{mensaje}}</ngb-alert>
</div>

<form [formGroup]="form_guardar" (ngSubmit)="guardar_ART()">
	<!-- INICIO ROW #1 -->	
	<div class="row" style="margin: 15px 15px 0px 15px">
		
		<div class="col-7 text-right">
			<span>Regularmente participa en las actividades artísticas escolares:</span>
		</div>
		<div class="col-5 input-group input-group-sm mb-3">
			<select formControlName="actividadartistica" class="custom-select"
			[ngClass]="{ 'is-invalid': submitted2 && f2.actividadartistica.errors }" data-toggle="tooltip"
			data-placement="top" title="Elige">
			<option selected disabled>Elige</option>
			<option value="Siempre">Siempre</option>
			<option value="Aveces">Aveces</option>
			<option value="Nunca">Nunca</option>
		</select> 
	</div>
	<div class="col-7 text-right">
		<span>Ha notado que quiere participar en las actividades artísticas pero no se anima:</span>
	</div>
	<div class="col-5 input-group input-group-sm mb-3">
		<select formControlName="hanotadoparticipar" class="custom-select"
		[ngClass]="{ 'is-invalid': submitted2 && f2.hanotadoparticipar.errors }" data-toggle="tooltip"
		data-placement="top" title="Elige">
		<option selected disabled>Elige</option>
		<option value="true">Si</option>
		<option value="false">No</option>
	</select>
	&nbsp; Cuales:
</div>
</div>
<!-- INICIO ROW #2 -->	
<div class="row" style="margin: 0px 15px 15px 15px;">
	<div class="col-2" >
		<span>Fecha</span>
	</div>
	<div class="col-5" >
		<span>Diciplina</span>
	</div>
	<div class="col-5" >
		<span>Lugar</span>
	</div>
	<div class=" col-12 input-group">
		<input type="date" id="actividadfecha1" formControlName="actividadfecha1" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadfecha1.errors }">
		<input type="text" id="actividaddiciplina1" formControlName="actividaddiciplina1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividaddiciplina1.errors }">
		<input type="text" id="actividadlugar1" formControlName="actividadlugar1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadlugar1.errors }">
	</div>
	<div class=" col-12 input-group">
		<input type="date" id="actividadfecha2" formControlName="actividadfecha2" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadfecha2.errors }">
		<input type="text" id="actividaddiciplina2" formControlName="actividaddiciplina2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividaddiciplina2.errors }">
		<input type="text" id="actividadlugar2" formControlName="actividadlugar2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadlugar2.errors }">

	</div>
	<div class=" col-12 input-group">
		<input type="date" id="actividadfecha3" formControlName="actividadfecha3" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadfecha3.errors }">
		<input type="text" id="actividaddiciplina3" formControlName="actividaddiciplina3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividaddiciplina3.errors }">
		<input type="text" id="actividadlugar3" formControlName="actividadlugar3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.actividadlugar3.errors }">
	</div>
</div>
<div class="dropdown-divider"></div>
<!-- INICIO ROW #3 -->	
<div class="row" style="margin: 0px 0px 15px 30px;">
	<div class=" col-12  font-weight-bold" style="left: -15px;">
		<span>Señale si presenta algun interes en algunas de las siguientes areas: </span>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="musica" formControlName="musica" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.musica.errors}"/>
		<label class="custom-control-label" for="musica">Mùsica</label>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="danza" formControlName="danza" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.danza.errors}"/>
		<label class="custom-control-label" for="danza">Danza</label>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="pintura" formControlName="pintura" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.pintura.errors}"/>
		<label class="custom-control-label" for="pintura">Pintura</label>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="manualidades" formControlName="manualidades" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.manualidades.errors}"/>
		<label class="custom-control-label" for="manualidades">Manualidades</label>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="teatro" formControlName="teatro" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.teatro.errors}"/>
		<label class="custom-control-label" for="teatro">Teatro</label>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		<input type="checkbox" id="canto" formControlName="canto" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.canto.errors}"/>
		<label class="custom-control-label" for="canto">Canto</label>
	</div>
	<div class="col-12 form-group input-group-sm mb-3" style="left: -15px;">
		<label for="otro" style="padding: 0px; font-size: 13px;">otro</label>
		<input type="text" id="otro" formControlName="otro" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.otro.errors }" placeholder="¿Cúal?" style="margin-top: -10px;">
	</div>
</div>
<div class="dropdown-divider"></div>
<div class="row custom-control-inline" style="margin: 0px 0px 15px 15px;">
	<div class="col-10 text-left font-weight-bold">
		<span>Señale si ha recibido algùn premio o reconocimiento dentro del área artistica</span>
	</div>
	<div class="col-2 custom-control custom-checkbox">
		
		<input type="checkbox" id="recibiopremio" formControlName="recibiopremio" class="custom-control-input"
		[ngClass]="{ 'is-invalid': submitted2 && f2.recibiopremio.errors}" />
		<label class="custom-control-label" for="recibiopremio" style="font-size: 13PX;">Ha recibido alguno: </label>
	</div>
</div>
<!-- INICIO ROW #2 -->	
<div class="row" style="margin: 0px 15px 15px 15px;">
	<div class="col-2" >
		<span>Fecha</span>
	</div>
	<div class="col-5" >
		<span>Diciplina</span>
	</div>
	<div class="col-5" >
		<span>Lugar</span>
	</div>
	<div class=" col-12 input-group">
		<input type="date" id="premioartefecha1" formControlName="premioartefecha1" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartefecha1.errors }">
		<input type="text" id="premioartediciplina1" formControlName="premioartediciplina1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartediciplina1.errors }">
		<input type="text" id="premioartelugar1" formControlName="premioartelugar1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartelugar1.errors }">
	</div>
	<div class=" col-12 input-group">
		<input type="date" id="premioartefecha2" formControlName="premioartefecha2" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartefecha2.errors }">
		<input type="text" id="premioartediciplina2" formControlName="premioartediciplina2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartediciplina2.errors }">
		<input type="text" id="premioartelugar2" formControlName="premioartelugar2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartelugar2.errors }">

	</div>
	<div class=" col-12 input-group">
		<input type="date" id="premioartefecha3" formControlName="premioartefecha3" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartefecha3.errors }">
		<input type="text" id="premioartediciplina3" formControlName="premioartediciplina3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartediciplina3.errors }">
		<input type="text" id="premioartelugar3" formControlName="premioartelugar3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.premioartelugar3.errors }">
	</div>
</div>
<div class="row" style="margin: 15px 15px 15px 15px">
	<div class="col-10"></div>
	<div class="col-2">
		<button name="ART_btn_guardar" class="btn btn-club btn-sm"
		style="width:100%; height: 50px;" type="submit">
		<span id="spinner_art" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
		hidden
		></span>
		Guardar
	</button>
</div>
</div>
</form>

