<form [formGroup]="form_guardar" (ngSubmit)="guardar_DM()">
  <div class="row " style="margin: 10px 0px 0px 0px">
    <div class="col-12 custom-control-inline">
      <span>Padece alguna alergia a alimentos, medicamentos, plantas u otros. </span>
      <div class="input-group-sm col-6">
        <input type="text" id="alergia" formControlName="alergia" class="form-control"
        [ngClass]="{ 'is-invalid': submitted2 && f2.alergia.errors }" placeholder="¿Cúales?">
      </div>
    </div>
  </div>
  <br>
  <div class="col-12 custom-control-inline">
    <span>Toma medicamentos de forma permanente.</span>
    <div class="input-group-sm">
      <input type="text" id="medicamento" formControlName="medicamento" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.medicamento.errors }" placeholder="¿Cúales?" style="margin-left: 10px">
    </div>
    <span style="padding: 0px 0px 0px 30px;">Requiere algun cuidado especial.</span>
    <div class="input-group-sm">
      <input type="text" id="cuidadoespecial" formControlName="cuidadoespecial" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.cuidadoespecial.errors }" placeholder="¿Cúales?" style="margin-left: 10px">
    </div>
  </div>
  <!-- INICIO DE COL 12 -->
  <div class="dropdown-divider"></div>
  <div class=" col-6">
    <span class="font-weight-bold">Qué enfermedad a padecido: </span><br>
  </div>
  <div class=" col-12 input-group">
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="rebeola" formControlName="rebeola" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.rebeola.errors}" />
      <label class="custom-control-label" for="rebeola">Rebeola</label>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="varicela" formControlName="varicela" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.varicela.errors}" />
      <label class="custom-control-label" for="varicela">Varicela</label>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="escarlatina" formControlName="escarlatina" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.escarlatina.errors}" />
      <label class="custom-control-label" for="escarlatina">Escarlatina</label>
    </div>

    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="hepatitis" formControlName="hepatitis" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.hepatitis.errors}" />
      <label class="custom-control-label" for="hepatitis">Hepatitis</label>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="influenza" formControlName="influenza" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.influenza.errors}" />
      <label class="custom-control-label" for="influenza">Influenza</label>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="tifoidea" formControlName="tifoidea" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.tifoidea.errors}" />
      <label class="custom-control-label" for="tifoidea">Tifoidea</label>
    </div>
  </div>
  <div class="row" style="margin: 0px 0px 0px 15px;">
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="paperas" formControlName="paperas" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.paperas.errors}" />
      <label class="custom-control-label" for="paperas">Paperas</label>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="tosferina" formControlName="tosferina" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.tosferina.errors}" />
      <label class="custom-control-label" for="tosferina">Tosferina</label>
    </div>
    <div class="col-8 form-group input-group-sm mb-3">
      <input type="text" id="otraenfermedad" formControlName="otraenfermedad" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.otraenfermedad.errors }" placeholder="Otra enfermedad">
    </div>
  </div>

  <br>

  <div class="row" style="margin: 0px 0px 0px 5px;">
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="ataquesepilepticos" style="padding: 0px;">Ha tenido ataques epilécticos.</label>
      <input type="text" id="ataquesepilepticos" formControlName="ataquesepilepticos" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.ataquesepilepticos.errors }" placeholder="Frecuencia" style="margin-top: -10px;">
    </div>
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="enfermedadcronica" style="padding: 0px;">Padece alguna enfermedadcronica. </label>
      <input type="text" id="enfermedadcronica" formControlName="enfermedadcronica" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.enfermedadcronica.errors }" placeholder="¿Cuál?" style="margin-top: -10px;">
    </div>
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="accidentesgraves" style="padding: 0px;">Ha sufrido accidentes graves. </label>
      <input type="text" id="accidentesgraves" formControlName="accidentesgraves" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.accidentesgraves.errors }" placeholder="¿Cuál?" style="margin-top: -10px;">
    </div>
  </div>
  <div class="row" style="margin: 0px 0px 0px 15px;">
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="hasidooperado" formControlName="hasidooperado" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.hasidooperado.errors}" />
      <label class="custom-control-label" for="hasidooperado">Ha sido operado. </label>
    </div>
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="tipooperacion" style="padding: 0px;">Tipo de operación</label>
      <input type="text" id="tipooperacion" formControlName="tipooperacion" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.tipooperacion.errors }" placeholder="Describela" style="margin-top: -10px;">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="cantidadoperaciones" style="padding: 0px;">Cantidad de operaciones</label>
      <input type="number" id="cantidadoperaciones" formControlName="cantidadoperaciones" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.cantidadoperaciones.errors }" placeholder="Cantidad" style="margin-top: -10px;">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="fechaoperacion" style="padding: 0px;">Fecha de operación</label>
      <input type="date" id="fechaoperacion" formControlName="fechaoperacion" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.fechaoperacion.errors }" placeholder="Cantidad" style="margin-top: -10px;">
    </div>
  </div>
  <div class="row" style="margin: 0px 0px 0px 15px;">
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="piojos" formControlName="piojos" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.piojos.errors}" />
      <label class="custom-control-label" for="piojos">Se ha infectado de piojos/liendres. </label>
    </div>
    <div class="col-2 form-group input-group-sm mb-3">
      <label for="frecpiojos" style="padding: 0px;">Frecuencia</label>
      <input type="text" id="frecpiojos" formControlName="frecpiojos" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.frecpiojos.errors }" placeholder="Frecuencia" style="margin-top: -10px;">
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row" style="margin: 0px 0px 0px 15px;">
    <div class="col-12">
      <span  class="font-weight-bold">Tiene algún problema físico relacionado con:  </span>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="problemahabla" formControlName="problemahabla" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.problemahabla.errors}" />
      <label class="custom-control-label" for="problemahabla">Habla </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="problemavista" formControlName="problemavista" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.problemavista.errors}" />
      <label class="custom-control-label" for="problemavista">Vista </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="problemaoido" formControlName="problemaoido" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.problemaoido.errors}" />
      <label class="custom-control-label" for="problemaoido">Oído </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="problematonomuscular" formControlName="problematonomuscular" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.problematonomuscular.errors}" />
      <label class="custom-control-label" for="problematonomuscular">Tono muscular </label>
    </div>

    <div class="col-2 form-group input-group-sm mb-3">
      <input type="text" id="otroproblema" formControlName="otroproblema" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.otroproblema.errors }" placeholder="otro problema">
    </div>
  </div>
  <div class="row" style="margin: 0px 0px 0px 15px;">
     <div class="col-12">
      <span  class="font-weight-bold">Usa algún tipo de aparato:  </span>
    </div>
    <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="aparatodental" formControlName="aparatodental" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.aparatodental.errors}" />
      <label class="custom-control-label" for="aparatodental">Dental </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="aparatoanteojos" formControlName="aparatoanteojos" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.aparatoanteojos.errors}" />
      <label class="custom-control-label" for="aparatoanteojos">Anteojos </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="aparatoauditivo" formControlName="aparatoauditivo" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.aparatoauditivo.errors}" />
      <label class="custom-control-label" for="aparatoauditivo">Auditivo </label>
    </div>
     <div class="col-2 custom-control custom-checkbox">
      <input type="checkbox" id="aparatoortopedico" formControlName="aparatoortopedico" class="custom-control-input"
      [ngClass]="{ 'is-invalid': submitted2 && f2.aparatoortopedico.errors}" />
      <label class="custom-control-label" for="aparatoortopedico">Ortopédico </label>
    </div>

    <div class="col-2 form-group input-group-sm mb-3">
      <input type="text" id="otroaparato" formControlName="otroaparato" class="form-control"
      [ngClass]="{ 'is-invalid': submitted2 && f2.otroaparato.errors }" placeholder="otro aparato">
    </div>
    <div class="col-2">
      <button name="DM_btn_guardar" class="btn btn-club btn-sm"
        style="width:100%; margin-top: -20px; height: 50px;" type="submit">
        <span id="DM_spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          hidden></span>
        Guardar
      </button>
    </div>
  </div>

</form>