<div style="padding-top: 2%; padding-left: 2%;">
	<a href="login">
		<img src="./assets/img/logo.png" style="height: 100px; left: 20px;" alt="google.com">
	</a>
</div>

<br>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4 jumbotron loginbox">
			<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
				<div class="col-12 form-group input-group-lg mb-3">
					<span style="padding-right: 2%;"> <i class="fas fa-at"></i> </span>
					<label for="correo" style="padding: 0px; font-size: 15px;">CORREO ELECTRÓNICO:</label>
					<input type="text" id="correo" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': form_invalid && f2.correo.errors }" style="margin-top: -5px;" autocomplete="off"/>
				</div>
				<div class="col-2 text-right">
					<button name="DG_btn_guardar"  class="btn btn-club btn-sm" style="width:100%; margin-top: 50px; height: 50px;" type="submit">
						<span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
						Guardar
					</button>
				</div>  
			</form>        
		</div>
	</div>
</div>

<div class="container">
	<form>
		<div class="row">
			<div class="col-12 form-group input-group-lg mb-3">
				<span style="padding-right: 2%;"> <i class="fas fa-at"></i> </span>
				<label for="correo" style="padding: 0px; font-size: 15px;">CORREO ELECTRÓNICO:</label>
				<input type="text" id="correo" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': form_invalid && f2.correo.errors }" style="margin-top: -5px;" autocomplete="off"/>
			</div>
		</div>
		<div class="row">
			<div class="col-10"></div>
			<div class="col-2 text-right">
				<button name="DG_btn_guardar"  class="btn btn-club btn-sm" style="width:100%; margin-top: 50px; height: 50px;" type="submit">
					<span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
					Guardar
				</button>
			</div>  
		</div>
	</form>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>