<div style="padding-top: 2%; padding-left: 2%;">
  <a href="login">
    <img src="./assets/img/logo.png" style="height: 100px; left: 20px;" alt="google.com">
  </a>
</div>
<br>
<div class="containe">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 jumbotron loginbox">
      <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
        <div class="form-group">
          <span style="padding-right: 2%;"> <i class="fas fa-user"></i> </span>
          <label for="uname">Numero Miembro:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-user"></div>
            <input type="text" placeholder="Miembro" formControlName="username" maxlength="20" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['username'].dirty && form.controls['username'].invalid">
            <div *ngIf="form.controls['username'].hasError('required')">Numero Requerido</div>
          </div>
        </div>
        <div class="form-group">
          <span style="padding-right: 2%;"> <i class="fas fa-lock"></i></span>
          <label for="pwd">Contraseña:</label>
          <div class="input-group">
            <div class="input-group-addon glyphicon glyphicon-lock"></div>
            <input type="password" placeholder="Contraseña" formControlName="password" class="form-control">
          </div>
          <div class="alert alert-danger" *ngIf="form.controls['password'].dirty && form.controls['password'].invalid">
            <div *ngIf="form.controls['password'].hasError('required')">Contraseña requerida</div>
            <div *ngIf="form.controls['password'].hasError('minlength')">Contraseña minia de 3 digitos.</div>
          </div>
        </div>
        <div class="form-group">
          <input type="submit" value="Ingresar" class="btn btn-primary" [disabled]="form.invalid"
            style="height: 100%; width: 100%; border: 2px solid rgb(140, 132, 161); border-radius: 8px;">
        </div>
        <div class="form-group">
          <div class="col-md-12 alert alert-danger" *ngIf="errmsg">{{errmsg}}</div>
        </div>
      </form>
      <br>
      <br>
      <div class="float-right" style="text-decoration: underline; text-decoration-color: #00AAE7;">
        <a href="recuperar" class="text-decoration-none">Recuperar Contraseña</a>
      </div>
    </div>
  </div>
</div>