<div class="container border rounded">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#donantes" data-toggle="tab">Datos Donante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contacto" data-toggle="tab">Contacto</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#Telefono" data-toggle="tab">Telefono</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Forma" data-toggle="tab">Forma Donaciòn</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Direccion" data-toggle="tab">Direccion Donante</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Fiscales" data-toggle="tab">Datos Fiscales</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="#Nota" data-toggle="tab">Nota Donante</a>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="donantes">
                <donacion-donante></donacion-donante>
            </div>
            <div class="tab-pane " id="Contacto">
               <!-- <nucleo-familiar></nucleo-familiar>-->
            </div>
            <div class="tab-pane" id="Telefono">
            <!--     <ds-ninos></ds-ninos>-->
            </div>
            <div class="tab-pane" id="Forma">
             <!--    <dm-ninos></dm-ninos>-->
            </div>
            <div class="tab-pane" id="Direccion">
             <!--    <educacion-ninos></educacion-ninos>-->
            </div>
            <div class="tab-pane" id="Fiscales">
              <!--   <deporte-ninos></deporte-ninos>-->
            </div>
            <div class="tab-pane" id="Nota">
             <!--    <arte-ninos></arte-ninos>-->
            </div>
        </div>
    
    </div>
