<!-- <div class="container border rounded">
        <div style="padding-top: 2%; padding-left: 2%;">
          <a href="login">
            <img src="./assets/img/logo.png" style="height: 100px; left: 20px;" alt="google.com">
          </a>
        </div>
        <br>
        <div class="row">
          <div class="col s6 offset-s3">
            <div class="center-block" align="center">
                    <form [formGroup]="form_report" (ngSubmit)="crear_informe()">

                            <div class="dropdown-divider"></div>
                            <div class="col-4 input-group input-group-sm mb-3">
                              <span style="margin-right: 10px">Nombre Informe:</span>
                              <input type="text" formControlName="nombreinforme" class="form-control">
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row" style="margin: 15px 0px 0px 15px">
                              <div class="col-12 font-weight-bold">
                                <span>Informe</span>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <label for="estado" style="margin-right: 10px">Estado:</label>
                                <select formControlName="estado" class="custom-select"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado.errors }">
                                  <option selected disabled>Seleccione</option>
                                  <option value="true">Activos</option>
                                  <option value="false">Inactivos</option>
                                </select>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <label for="sede" style="margin-right: 10px">Sede:</label>
                                <select formControlName="sede" class="custom-select"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.sede.errors }">
                                  <option selected disabled>Seleccione</option>
                                  <option value="Loma Dorada">Loma Dorada</option>
                                  <option value="camino">Camino Verde</option>
                                  <option value="Natura">Natura</option>
                                </select>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">ID Niño:</span>
                                <input type="number" formControlName="idnino" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.idnino.errors }">
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <label for="turno" style="margin-right: 10px">Turno:</label>
                                <select formControlName="turno" class="custom-select"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.turno.errors }">
                                  <option selected disabled>Seleccione</option>
                                  <option value="Matutino">Matutino</option>
                                  <option value="Vespertino">Vespertino</option>
                                </select>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">Nombre Niño:</span>
                                <input type="text" formControlName="nombrenino" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombrenino.errors }">
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <label for="sexo" style="margin-right: 10px">Sexo:</label>
                                <select formControlName="sexo" class="custom-select"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.sexo.errors }">
                                  <option selected disabled>Seleccione</option>
                                  <option value="M">Masculino</option>
                                  <option value="F">Femenino</option>
                                </select>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <label for="nacionalidad" style="margin-right: 10px">Nacionalidad:</label>
                                <select formControlName="nacionalidad" class="custom-select"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.nacionalidad.errors }">
                                  <option selected disabled>Seleccione</option>
                                  <option value="Mexicano">Mexicano</option>
                                  <option value="Extranjero">Extranjero</option>
                                </select>
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">Persona Autorizada:</span>
                                <input type="text" formControlName="persona_autorizada" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.persona_autorizada.errors }">
                              </div>
                              <div class="col-3 form-group input-group-sm mb-3">
                                <label for="fechainscripcion1">Fecha Inscripción-Desde: </label>
                                <input formControlName="fechainscripcion1" type="date" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechainscripcion1.errors }" id="fechainscripcion1"
                                  data-toggle="tooltip" data-placement="top" title="fechainscripcion1" style="margin-top: -10px;">
                              </div>
                              <div class="col-3 form-group input-group-sm mb-3">
                                <label for="fechainscripcion2">Fecha Inscripción-Hasta: </label>
                                <input formControlName="fechainscripcion2" type="date" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechainscripcion2.errors }" id="fechainscripcion2"
                                  data-toggle="tooltip" data-placement="top" title="fechainscripcion2" style="margin-top: -10px;">
                              </div>
                              <div class="col-3 form-group input-group-sm mb-3">
                                <label for="fechanacimiento1">Fecha Nacimiento-Desde: </label>
                                <input formControlName="fechanacimiento1" type="date" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento1.errors }" id="fechanacimiento1"
                                  data-toggle="tooltip" data-placement="top" title="fechanacimiento1" style="margin-top: -10px;">
                              </div>
                              <div class="col-3 form-group input-group-sm mb-3">
                                <label for="fechanacimiento2">Fecha Nacimiento-Hasta: </label>
                                <input formControlName="fechanacimiento2" type="date" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento2.errors }" id="fechanacimiento2"
                                  data-toggle="tooltip" data-placement="top" title="fechanacimiento2" style="margin-top: -10px;">
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">Alergia:</span>
                                <input type="text" formControlName="alergia" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.alergia.errors }">
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">Medicamento:</span>
                                <input type="text" formControlName="medicamento" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.medicamento.errors }">
                              </div>
                              <div class="col-3 input-group input-group-sm mb-3">
                                <span style="margin-right: 10px">Cuidado Especial:</span>
                                <input type="text" formControlName="cuidado_especial" class="form-control"
                                  [ngClass]="{ 'is-invalid': submit_agregar && f_A.cuidado_especial.errors }">
                              </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row" style="margin: 0px 0px 15px 15px">
                              <div class="dropdown-divider"></div>
                              <div class="col-10"></div>
                              <div class="col-2">
                                <button name="agenda_btn_consultar" class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
                                  <span id="spinner_agregar_agenda" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                                    hidden></span>
                                  Consultar
                                </button>
                              </div>
                            </div>
                          </form>
              <button id="btn_return" type="button" class="btn btn-info btn-sm" style="width: 100%; font-size: 100%;"
                (click)="return()">Regresar</button>
              <button id="btn_return" type="button" class="btn btn-info btn-sm"
                style="width: 100%; font-size: 100%; background-color: brown;" (click)="go()">Iniciar Sesion</button>
              <button id="btn_return" type="button" class="btn btn-info btn-sm"
                style="width: 100%; font-size: 100%; background-color: rgb(62, 155, 98);" (click)="home()">Pagina
                Principal</button>
            </div>
          </div>
        </div>
      </div> -->
