<a href="" class="d-flex align-content-center flex-wrap">
    <img src="./assets/img/logo.png" style="height: 50px; position: absolute; left: 20px; top: 2px; background-color: white; padding:  4px; border-radius: 5px; ">
</a>

<ul class="nav justify-content-end " style="height: 55px; background-color:#00AAE7;">
    <li class="nav-item d-flex align-content-center flex-wrap" >
      <a class="nav-link text-white" href="desarrollo_humano/agenda">Agenda</a>
  </li>
  <li class="nav-item d-flex align-content-center flex-wrap" >
      <a class="nav-link text-white" href="desarrollo_humano">Incidencias</a>
  </li>
<li class="nav-item dropdown d-flex align-content-center flex-wrap" style=" margin-right: 15px;"> 
    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cuenta</a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="desarrollo_humano/config">Configuraciones</a>
        <a class="dropdown-item" (click)="cerrar()">Salir</a>
    </div>
</li>
</ul>
<br>
