<a href="agregar-modificar">
  <img src="./assets/img/logo.png" style="height: 40px; position: absolute; left: 20px;">
</a>

<ul class="nav justify-content-end" style=" background-color:#00AAE7; 
box-shadow: 0px 2px 3px 0px rgba(100,189,222,1);">
<li class="nav-item" >
  <a class="nav-link text-white" href="entradas-salidas">Entradas y Salidas</a>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Niños</a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="agregar-modificar">Agregar o modificar</a>
    <a class="dropdown-item" href="buscar-niño">Buscar</a>
  </div>
</li>
<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cuenta</a>
  <div class="dropdown-menu dropdown-menu-right">
    <a class="dropdown-item" href="">Configuraciones</a>
    <a class="dropdown-item" href="">Salir</a>
  </div>
</li>
</ul>