<div style="margin: 0px 30px 0px 15px;" class="text-center">
    <ngb-alert *ngIf="visible==true" (close)="cerrar_alert()" type="{{tipo}}">{{mensaje}}</ngb-alert>
</div>

<form [formGroup]="form_guardar" (ngSubmit)="guardar_DEP()">
    <!-- INICIO  -->
    <div class="row" style="margin: 0px 15px 15px 15px">
        <div class="col-2 font-weight-bold">
            <span>Edad</span>
        </div>
        <div class="col-2 font-weight-bold">
            <span>Ciclo</span>
        </div>
        <div class="col-3 font-weight-bold">
            <span>Estatura (Mts) </span>
        </div>
        <div class="col-3 font-weight-bold">
            <span>Peso (Kgs)</span>
        </div>
        <div class="col-2 font-weight-bold">
            <span>IMC </span>
        </div>
        <div class=" col-12 input-group">
            <input type="number" id="edaddeporte1" formControlName="edaddeporte1" class="form-control col-1" [ngClass]="{ 'is-invalid': submitted2 && f2.edaddeporte1.errors }">
            <input type="text" id="ciclodeporte1" formControlName="ciclodeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.ciclodeporte1.errors }" style="text-transform: capitalize;" autocomplete="off">
            <input type="number" id="estaturadeporte1" formControlName="estaturadeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.estaturadeporte1.errors }">
            <input type="number" id="pesodeporte1" formControlName="pesodeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.pesodeporte1.errors }">
            <input type="number" id="imcdeporte1" formControlName="imcdeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.imcdeporte1.errors }">
        </div>
        <div class=" col-12 input-group">
            <input type="number" id="edaddeporte2" formControlName="edaddeporte2" class="form-control col-1" [ngClass]="{ 'is-invalid': submitted2 && f2.edaddeporte2.errors }" style="text-transform: capitalize;" autocomplete="off">
            <input type="text" id="ciclodeporte2" formControlName="ciclodeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.ciclodeporte2.errors }">
            <input type="number" id="estaturadeporte2" formControlName="estaturadeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.estaturadeporte2.errors }">
            <input type="number" id="pesodeporte2" formControlName="pesodeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.pesodeporte2.errors }">
            <input type="number" id="imcdeporte2" formControlName="imcdeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.imcdeporte2.errors }">
        </div>
        <div class=" col-12 input-group">
            <input type="number" id="edaddeporte3" formControlName="edaddeporte3" class="form-control col-1" [ngClass]="{ 'is-invalid': submitted2 && f2.edaddeporte3.errors }">
            <input type="text" id="ciclodeporte3" formControlName="ciclodeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.ciclodeporte3.errors }">
            <input type="number" id="estaturadeporte3" formControlName="estaturadeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.estaturadeporte3.errors }">
            <input type="number" id="pesodeporte3" formControlName="pesodeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.pesodeporte3.errors }">
            <input type="number" id="imcdeporte3" formControlName="imcdeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.imcdeporte3.errors }">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <!-- INICIO ROW #3 -->
    <div class="row" style="margin: 0px 15px 0px 15px">
        <div class="col-6">
            <label>Anteriormente ha participado en alguna actividad deportiva:</label>
        </div>
        <div class="col-6 input-group input-group-sm mb-3">
            <input type="text"  formControlName="actividaddeportiva" class="form-control"
            [ngClass]="{ 'is-invalid': submitted2 && f2.actividaddeportiva.errors }" placeholder="¿Cúal?" style="text-transform: capitalize;" autocomplete="off">
        </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="row" style="margin: 0px 0px 15px 30px;">
        <div class=" col-12" style="left: -15px;">
            <span>Señale si presenta algun interes en algunas de las siguientes areas: </span>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="futbol" formControlName="futbol" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.futbol.errors}"/>
            <label class="custom-control-label" for="futbol">Futbol</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="box" formControlName="box" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.box.errors}"/>
            <label class="custom-control-label" for="box">Box</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="atletismo" formControlName="atletismo" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.atletismo.errors}"/>
            <label class="custom-control-label" for="atletismo">Atletismo</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="basquetbol" formControlName="basquetbol" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.basquetbol.errors}"/>
            <label class="custom-control-label" for="basquetbol">Basquetbol</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="volibol" formControlName="volibol" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.volibol.errors}"/>
            <label class="custom-control-label" for="volibol">Volleyball </label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="beisbol" formControlName="beisbol" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.beisbol.errors}"/>
            <label class="custom-control-label" for="beisbol">Beisbol</label>
        </div>
    </div>
    <div class="row" style="margin: 0px 15px 15px 30px;">
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="animaciondeportiva" formControlName="animaciondeportiva" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.animaciondeportiva.errors}"/>
            <label class="custom-control-label" for="animaciondeportiva">Animación deportiva</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="artesmarciales" formControlName="artesmarciales" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.artesmarciales.errors}"/>
            <label class="custom-control-label" for="artesmarciales">Artes Marciales</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">
            <input type="checkbox" id="gimnasia" formControlName="gimnasia" class="custom-control-input"
            [ngClass]="{ 'is-invalid': submitted2 && f2.gimnasia.errors}"/>
            <label class="custom-control-label" for="gimnasia">Gimnasia</label>
        </div>
        <div class="col-2 custom-control custom-checkbox">

        </div>
        <div class="col-4 form-group input-group-sm mb-3" style="top: -10px;">
            <label for="otro" style="padding: 0px; font-size: 13px;">Otro</label>
            <input type="text" id="otro" formControlName="otro" class="form-control"
            [ngClass]="{ 'is-invalid': submitted2 && f2.otro.errors }" placeholder="¿Cúal?" style="margin-top: -10px;" autocomplete="off">
        </div>
    </div>
    <div class="row" style="margin: 15px 15px 15px 30px">
     <div class="col-6 form-group input-group-sm mb-3">
        <label for="equipo" style="padding: 0px; font-size: 13px;">Ha formado parte de algun equipo</label>
        <input type="text" id="equipo" formControlName="equipo" class="form-control"
        [ngClass]="{ 'is-invalid': submitted2 && f2.equipo.errors }" placeholder="¿Cúal?" style="margin-top: -10px;" autocomplete="off">
    </div>
    <div class="col-6 form-group input-group-sm mb-3">
        <label for="problemaejercicio" style="padding: 0px; font-size: 13px;">Existe algun impedimento por el cual no pueda realizar ejercicio</label>
        <input type="text" id="problemaejercicio" formControlName="problemaejercicio" class="form-control"
        [ngClass]="{ 'is-invalid': submitted2 && f2.problemaejercicio.errors }" placeholder="¿Cúal?" style="margin-top: -10px;" autocomplete="off">
    </div>
</div>

<div class="dropdown-divider"></div>
<div class="row" style="margin: 15px 0px 15px 15px">
    <div class="col-12">
        <span>Señale si ha recibido algun Premio, Beca o Reconocimiento dentro del area deportiva: 
        </span>
    </div>
</div>
<div class="row" style="margin: 0px 15px 15px 15px;">
    <div class="col-2" >
        <span>Fecha</span>
    </div>
    <div class="col-5" >
        <span>Diciplina</span>
    </div>
    <div class="col-5" >
        <span>Lugar</span>
    </div>
    <div class=" col-12 input-group">
        <input type="date" id="fechapremiodeporte1" formControlName="fechapremiodeporte1" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.fechapremiodeporte1.errors }">
        <input type="text" id="diciplinapremiodeporte1" formControlName="diciplinapremiodeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.diciplinapremiodeporte1.errors }">
        <input type="text" id="lugarpremiodeporte1" formControlName="lugarpremiodeporte1" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.lugarpremiodeporte1.errors }" style="text-transform: capitalize;" autocomplete="off">
    </div>
    <div class=" col-12 input-group">
        <input type="date" id="fechapremiodeporte2" formControlName="fechapremiodeporte2" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.fechapremiodeporte2.errors }">
        <input type="text" id="diciplinapremiodeporte2" formControlName="diciplinapremiodeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.diciplinapremiodeporte2.errors }">
        <input type="text" id="lugarpremiodeporte2" formControlName="lugarpremiodeporte2" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.lugarpremiodeporte2.errors }" style="text-transform: capitalize;" autocomplete="off">

    </div>
    <div class=" col-12 input-group">
        <input type="date" id="fechapremiodeporte3" formControlName="fechapremiodeporte3" class="form-control col-2" [ngClass]="{ 'is-invalid': submitted2 && f2.fechapremiodeporte3.errors }">
        <input type="text" id="diciplinapremiodeporte3" formControlName="diciplinapremiodeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.diciplinapremiodeporte3.errors }" style="text-transform: capitalize;" autocomplete="off">
        <input type="text" id="lugarpremiodeporte3" formControlName="lugarpremiodeporte3" class="form-control col-5" [ngClass]="{ 'is-invalid': submitted2 && f2.lugarpremiodeporte3.errors }" style="text-transform: capitalize;" autocomplete="off">
    </div>
</div>
<div class="row" style="margin: 15px 15px 15px 15px">
    <div class="col-10"></div>
    <div class="col-2">
        <button name="DEP_btn_guardar" class="btn btn-club btn-sm"
            style="width:100%; height: 50px;" type="submit">
            <span id="spinner_dep" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
            hidden></span>
            Guardar
        </button>
    </div>
</div>
</form>