<form [formGroup]="form_report" (ngSubmit)="crear_informe()">

  <div class="dropdown-divider"></div>
  <div class="col-4 input-group input-group-sm mb-3">
    <span style="margin-right: 10px">Nombre Informe:</span>
    <input type="text" formControlName="nombreinforme" class="form-control" autocomplete="off">
  </div>
  <div class="dropdown-divider"></div>
  <div class="row" style="margin: 15px 0px 0px 15px">
    <div class="col-12 font-weight-bold">
      <span>Informe</span>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <label for="estado" style="margin-right: 10px">Estado:</label>
      <select formControlName="estado" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.estado.errors }">
        <option selected disabled>Seleccione</option>
        <option value="true">Activos</option>
        <option value="false">Inactivos</option>
      </select>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <label for="sede" style="margin-right: 10px">Sede:</label>
      <select formControlName="sede" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.sede.errors }">
        <option selected disabled>Seleccione</option>
        <option value="null">Todas</option>
        <option value="Loma Dorada">Loma Dorada</option>
        <option value="camino">Camino Verde</option>
        <option value="Natura">Natura</option>
      </select>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">ID Niño:</span>
      <input type="number" formControlName="idnino" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.idnino.errors }">
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <label for="turno" style="margin-right: 10px">Turno:</label>
      <select formControlName="turno" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.turno.errors }">
        <option selected disabled>Seleccione</option>
        <option value="Matutino">Matutino</option>
        <option value="Vespertino">Vespertino</option>
      </select>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Nombre Niño:</span>
      <input type="text" formControlName="nombrenino" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.nombrenino.errors }">
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <label for="sexo" style="margin-right: 10px">Sexo:</label>
      <select formControlName="sexo" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.sexo.errors }">
        <option selected disabled>Seleccione</option>
        <option value="M">Masculino</option>
        <option value="F">Femenino</option>
      </select>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <label for="nacionalidad" style="margin-right: 10px">Nacionalidad:</label>
      <select formControlName="nacionalidad" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.nacionalidad.errors }">
        <option selected disabled>Seleccione</option>
        <option value="Mexicano">Mexicano</option>
        <option value="Extranjero">Extranjero</option>
      </select>
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Persona Autorizada:</span>
      <input type="text" formControlName="persona_autorizada" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.persona_autorizada.errors }">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="fechainscripcion1">Fecha Inscripción-Desde: </label>
      <input formControlName="fechainscripcion1" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechainscripcion1.errors }" id="fechainscripcion1"
        data-toggle="tooltip" data-placement="top" title="fechainscripcion1" style="margin-top: -10px;">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="fechainscripcion2">Fecha Inscripción-Hasta: </label>
      <input formControlName="fechainscripcion2" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechainscripcion2.errors }" id="fechainscripcion2"
        data-toggle="tooltip" data-placement="top" title="fechainscripcion2" style="margin-top: -10px;">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="fechanacimiento1">Fecha Nacimiento-Desde: </label>
      <input formControlName="fechanacimiento1" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento1.errors }" id="fechanacimiento1"
        data-toggle="tooltip" data-placement="top" title="fechanacimiento1" style="margin-top: -10px;">
    </div>
    <div class="col-3 form-group input-group-sm mb-3">
      <label for="fechanacimiento2">Fecha Nacimiento-Hasta: </label>
      <input formControlName="fechanacimiento2" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.fechanacimiento2.errors }" id="fechanacimiento2"
        data-toggle="tooltip" data-placement="top" title="fechanacimiento2" style="margin-top: -10px;">
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Alergia:</span>
      <input type="text" formControlName="alergia" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.alergia.errors }">
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Medicamento:</span>
      <input type="text" formControlName="medicamento" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.medicamento.errors }">
    </div>
    <div class="col-3 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Cuidado Especial:</span>
      <input type="text" formControlName="cuidado_especial" class="form-control" autocomplete="off"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.cuidado_especial.errors }">
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row" style="margin: 0px 0px 15px 15px">
    <div class="dropdown-divider"></div>
    <div class="col-10"></div>
    <div class="col-2">
      <button name="agenda_btn_consultar" class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
        <span id="spinner_agregar_agenda" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          hidden></span>
        Consultar
      </button>
    </div>
  </div>
</form>
<button name="captura_table" class="btn btn-primary mr-1"
  style="width:100%; height: 50px; background-color: rgb(51, 192, 98);" type="submit" value="CPTURE"
  (click)="exportAsXLSX()">
  <span id="spinner_excel" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
  Exportar Excel
</button>
<div>
  <br>
</div>
<button name="captura_table" class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit" value="CPTURE"
  (click)="captureScreen()">
  <span id="spinner_pdf" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
  Exportar PDF
</button>
<div class="container border rounded">
  <div class="row" style="margin: 15px 15px 0px 0px">
    <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
      <label class="font-weight-bold">Informe-Registros: {{contador}}</label>
    </div>
    <div class="col-12" style="overflow-x:auto; overflow-y:auto;">
      <form>
        <table class="table text-center table-bordered table-sm rounded" id="informeNinos" name="informeNinos">
          <thead style="background-color: #00AAE7; color: white;font-size: small;">
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Sede</th>
              <th scope="col">Estado</th>
              <th scope="col">Nombre</th>
              <th scope="col">Turno</th>
              <th scope="col">Fecha Nacimiento</th>
              <th scope="col">Sexo</th>
              <th scope="col">Edad</th>
              <th scope="col">Nacionalidad</th>
              <th scope="col">Persona Autorizada</th>
              <th scope="col">Fecha Ingreso</th>
              <th scope="col">Dirección</th>
              <th scope="col">Alergias</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let inf of informe; let i=index">
              <td>{{inf.miembro.miembro.idNinosDG}}</td>
              <td>{{inf.miembro.miembro.sede}}</td>
              <td>{{inf.miembro.miembro.estado}}</td>
              <td>{{inf.miembro.miembro.nombrenino}}</td>
              <td>{{inf.miembro.miembro.turno_asiste}}</td>
              <td>{{inf.miembro.miembro.fechanacimiento | date:'dd/MM/yyyy'}}</td>
              <td>{{inf.miembro.miembro.sexo}}</td>
              <td>{{inf.miembro.miembro.edad}}</td>
              <td>{{inf.miembro.miembro.nacionalidad}}</td>
              <td>{{inf.miembro.miembro.persona_autorizada}}</td>
              <td>{{inf.miembro.miembro.fechainscripcion | date:'dd/MM/yyyy'}}</td>
              <td>{{inf.miembro.miembro.direccion}}</td>
              <td>{{inf.alergia}}</td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>

<!-- Asistencia -->
<form [formGroup]="form_ninos" (ngSubmit)="informe_ninos()">
  <div class="dropdown-divider"></div>
  <div class="dropdown-divider"></div>
  <div class="row" style="margin: 15px 0px 0px 15px">
    <div class="col-4 input-group input-group-sm mb-3">
      <span style="margin-right: 10px">Nombre Informe:</span>
      <input type="text" formControlName="nombreinformes" class="form-control">
    </div>
    <div class="col-12 font-weight-bold" >
      <span style="font-size: 25;">Informe Asistencia</span>
    </div>
    <div class="col-4 input-group input-group-sm mb-3">
      <label for="seder" style="margin-right: 10px">Sede:</label>
      <select formControlName="seder" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_nino && f_B.seder.errors }">
        <option selected disabled>Seleccione</option>
        <option value="null">Todas</option>
        <option value="Loma Dorada">Loma Dorada</option>
        <option value="camino">Camino Verde</option>
        <option value="Natura">Natura</option> 
      </select>
    </div>
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="fecha1">Fecha -Desde: </label>
      <input formControlName="fecha1" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_nino && f_B.fecha1.errors }" id="fecha1"
        data-toggle="tooltip" data-placement="top" title="fecha1" style="margin-top: -10px;">
    </div>
    <div class="col-4 form-group input-group-sm mb-3">
      <label for="fecha2">Fecha -Desde: </label>
      <input formControlName="fecha2" type="date" class="form-control"
        [ngClass]="{ 'is-invalid': submit_nino && f_B.fecha2.errors }" id="fecha2"
        data-toggle="tooltip" data-placement="top" title="fecha2" style="margin-top: -10px;">
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="row" style="margin: 0px 0px 15px 15px">
    <div class="dropdown-divider"></div>
    <div class="col-10"></div>
    <div class="col-2">
      <button name="asistensia_btn_consultar" class="btn btn-primary mr-1" style="width:100%; height: 50px;" type="submit">
        <span id="spinner_agregar_agenda" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          hidden></span>
        Consultar
      </button>
    </div>
  </div>
</form>
<button name="captura_table_excel_asistensia" class="btn btn-primary mr-1"
  style="width:100%; height: 50px; background-color: rgb(51, 192, 98);" type="submit" value="CPTURE"
  (click)="exportAsXLSX_asistencia()">
  <span id="spinner_excel" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
  Exportar Excel
</button>
<div>
  <br>
</div>
<button name="captura_table_asistensia" class="btn btn-primary mr-1" style="width:100%; height: 50px;" 
type="submit" value="CPTURE" (click)="pdf_asistencia()">
  <span id="spinner_pdf" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
  Exportar PDF
</button>

<div class="container border rounded" style="margin: 0px 0px 0px 0px; float: left;">
  <div class="row" style="margin: 15px 15px 0px 0px; float: left;">
    <div class="col-12 text-left " style="margin: 0px 0px 0px 0px;">
      <label class="font-weight-bold">Inscritos-Asistencia:</label>
    </div>
    <div class="col-12" style="overflow-x:auto; overflow-y:auto;">
      <form>
        <table class="table text-center table-bordered table-sm rounded" id="informeAsistensia" name="informeAsistensia">
          <thead style="background-color: #00AAE7; color: white;font-size: small;">
            <tr>
              <th scope="col"></th>
              <th scope="col">Inscritos</th>
              <th scope="col">Activos</th>
              <th scope="col">Bajas</th>
              <th scope="col">Total Asistencias</th>
              <th scope="col">Total Asistencia Promedio</th>
              <th scope="col"></th>
              <th scope="col" colspan="2">6 - 7 años</th>
              <th scope="col" colspan="2">8 - 10 años</th>
              <th scope="col" colspan="2">11 - 12 años</th>
              <th scope="col" colspan="2">13 - 16 años</th>
              <th scope="col" >Total</th>
            </tr>         
          </thead>
          <tbody>
              <tr>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <td *ngIf="informe_asistensia !=undefined"> M</td>
                  <td *ngIf="informe_asistensia !=undefined"> H</td>
                  <td *ngIf="informe_asistensia !=undefined"> M</td>
                  <td *ngIf="informe_asistensia !=undefined"> H</td>
                  <td *ngIf="informe_asistensia !=undefined"> M</td>
                  <td *ngIf="informe_asistensia !=undefined"> H</td>
                  <td *ngIf="informe_asistensia !=undefined"> M</td>
                  <td *ngIf="informe_asistensia !=undefined"> H</td>
                  <td></td>
                 </tr>
            <tr>
              <th *ngIf="informe_asistensia !=undefined">Matutino</th>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_matutino_activos}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_matutino_inactivos}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia2.count_asistensia_Matutinos_fecha}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{promedio_matutino}}</td>
              <td></td>

              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_6_7_F_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_6_7_M_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_8_10_F_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_8_10_M_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_11_12_F_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_11_12_M_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_13_16_F_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_13_16_M_matutino}}</td>
              <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_matutino_activos}}</td>
             </tr>
             <tr>
                 <th *ngIf="informe_asistensia !=undefined">Vespertino</th>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_vespertino_activos}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_vespertino_inactivos}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia2.count_asistensia_Vespertino_fecha}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{promedio_vespertino}}</td>
                 <td></td>
                 
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_6_7_F_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_6_7_M_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_8_10_F_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_8_10_M_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_11_12_F_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_11_12_M_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_13_16_F_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_edad_13_16_M_vespertino}}</td>
                 <td *ngIf="informe_asistensia !=undefined"> {{informe_asistensia.count_total_vespertino_activos}}</td>
                </tr>
          </tbody>         
        </table>
      </form>
    </div>
  </div>