<form [formGroup]="form_buscar" (ngSubmit)="ng_busq_dhnino()">
  <div class="row" style="margin: 15px 0px 0px 0px">
    <div class="input-group input-group-sm mb-3 col-3 aling-right">
      <div class="input-group-prepend">
        <span class="input-group-text">No. Miembro:</span>
      </div>
      <input type="number" formControlName="miembroID" class="form-control"
        [ngClass]="{ 'is-invalid': submit_buscar && f_B.miembroID.errors }">
    </div>
    <div class="col-2 text-center" style="margin: 0px 0px 0px -20px">
      <button type="submit" class="btn btn-club btn-sm" style="width:100%;" id="btn_buscar">
        <span id="spinner_buscar_dhnino" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
          hidden></span>
        Buscar</button>
    </div>
  </div>
</form>

<!--Inicio-->
<div class="dropdown-divider"></div>
<form [formGroup]="form_agregar" (ngSubmit)="modificar_dhnino()">
  <div class="col-12">
    <span class="font-weight-bold">DESCRIBA EL COMPORTAMIENTO DEL NIÑO(A): </span>
    <div>
      <div class="dropdown-divider"></div>
      <div class="col-2 custom-control-inline">
        <span>Alegre:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="alegre" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.alegre.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Hace berrinches:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="berrinches" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.berrinches.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Tolerante:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="tolerante" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.tolerante.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Persistentes:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="persistente" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.persistente.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div>
      <div class="col-2 custom-control-inline">
        <span>Amigable:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="amigable" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.amigable.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Independiente:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="independiente" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.independiente.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Sociable:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="sociable" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.sociable.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Timido:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="timido" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.timido.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
    </div>

    <div class="dropdown-divider"></div>
    <div>
      <div class="col-2 custom-control-inline">
        <span>Callado:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="callado" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.callado.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Imaginativo:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="imaginativo" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.imaginativo.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Responsable:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="responsable" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.responsable.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
      <div class="col-3 custom-control-inline">
        <span>Hace su Tarea:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="hacetarea" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.hacetarea.errors }">

            <option value="Siempre">Siempre</option>
            <option value="A veces">A veces</option>
            <option value="Nunca">Nunca</option>
          </select>
        </div>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-2 custom-control-inline">
      <span>Coope- rador:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="cooperador" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.cooperador.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Irritable:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="irritable" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.irritable.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Ordenado:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="ordendo" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.ordendo.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Uso de sustancias:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="sustanciatoxica" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.sustanciatoxica.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-2 custom-control-inline">
      <span>Curioso:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="curioso" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.curioso.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Siente miedo:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="miedo" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.miedo.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Se chupa el dedo:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="chupadedo" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.chupadedo.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Sale del salon:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="salirsalon" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.salirsalon.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-2 custom-control-inline">
      <span>Comparte sus cosas:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="comparte" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.comparte.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-3 custom-control-inline">
      <span>Moja la cama:</span>
      <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="mojacama" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.mojacama.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="col-4 custom-control-inline">
      <span>Golpea, muerde, grita:</span>
      <div class="col-8 input-group input-group-sm mb-3" style="margin-left: 10px;">
        <select formControlName="golpea" class="custom-select"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.golpea.errors }">

          <option value="Siempre">Siempre</option>
          <option value="A veces">A veces</option>
          <option value="Nunca">Nunca</option>
        </select>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <div class="col-12">
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion Padre:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intpadre" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intpadre.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion Abuelos Paternos:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="inteabuelospat" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.inteabuelospat.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 custom-control-inline">
        <span>Interaccion tios:</span>
        <div class="col-10 input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intetio" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intetio.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion Madre:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intemadre" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intemadre.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion Abuelos Maternos:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="inteabuelosmat" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.inteabuelosmat.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 custom-control-inline">
        <span>Interaccion primos:</span>
        <div class="col-10 input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="inteprimo" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.inteprimo.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion hermanos:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intehermano" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intehermano.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion vecinos:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intevecino" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intevecino.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 custom-control-inline">
        <span>Interaccion amigos de su edad:</span>
        <div class="col-10 input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="inteamigoedad" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.inteamigoedad.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col-lg-4 custom-control-inline">
        <span>Problemas con la ley:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="problemaley" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.problemaley.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 custom-control-inline">
        <span>Interaccion maestros:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="intemaestro" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.intemaestro.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-3 custom-control-inline">
        <span>Interaccion amigos mas grandes:</span>
        <div class="col-10 input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="inteamigomayor" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.inteamigomayor.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="dropdown-divider"></div>
      <div class="col-lg-4 custom-control-inline">
        <span>Adaptacion a situaciones nuevas:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <select formControlName="adaptsituacion" class="custom-select"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.adaptsituacion.errors }">

            <option value="Estable">Estable</option>
            <option value="Inestable">Inestable</option>
            <option value="Conflicto">Conflicto</option>
          </select>
        </div>
      </div>
      <div class="col-lg-4 custom-control-inline">
        <span>Otras:</span>
        <div class="input-group input-group-sm mb-3" style="margin-left: 10px;">
          <input type="text" formControlName="otro" class="form-control"
            [ngClass]="{ 'is-invalid': submit_agregar && f_A.otro.errors }" />
        </div>
      </div>
    </div>
  </div>
  <div class="dropdown-divider"></div>
  <div class="col-12">
    <span>Ha recibido terapia: </span>
    <div class="col-8 form-check custom-control-inline" style="margin-left: 10px;">
      <div class="col-12 input-group-sm mb-3">
        <input type="text" formControlName="terapia" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.terapia.errors }" />
      </div>
    </div>
  </div>
  <div class="col-12">
    <span>Tiene algun TIC (Mania): </span>
    <div class="col-8 form-check custom-control-inline" style="margin-left: 10px;">

      <div class="col-12 input-group-sm mb-3">
        <input type="text" formControlName="tic" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.tic.errors }" />
      </div>
    </div>
  </div>
  <div class="col-12">
    <span>Pasatiempo que le gustan: </span>
    <div class="col-8 form-check custom-control-inline" style="margin-left: 10px;">

      <div class="col-12 input-group-sm mb-3">
        <input type="text" formControlName="pasatiempo" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.pasatiempo.errors }" />
      </div>
    </div>
  </div>

  <!--Screen 2-->
  <div class="dropdown-divider"></div>
  <div class="col-12">
    <div class="col-8 form-check custom-control-inline" style="margin-left: 10px;">
      <input type="checkbox" id="obedece" formControlName="obedece" class="custom-control-input"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.obedece.errors}" />
      <label class="custom-control-label" for="obedece">Hace lo que se le ordena sin dicutir o resistir al
        cumplirlo.&nbsp;</label>
    </div>
    <div class="col-8 form-check custom-control-inline" style="margin-left: 10px;">
      <input type="checkbox" id="materialpeligroso" formControlName="materialpeligroso" class="custom-control-input"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.materialpeligroso.errors}" />
      <label class="custom-control-label" for="materialpeligroso">Juega con materiales peligrosos (quema
        papeles, enciende cerillos, juega con cuchillos, etc..).&nbsp;</label>

    </div>
    <div class="custom-control-inline">
      <div class="input-group input-group-sm mb-3 col-6 aling-right">
        <div class="input-group-prepend">
          <span class="input-group-text">Reaccion ante la obscuridad:</span>
        </div>
        <input type="text" formControlName="reaccionobscuridad" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.reaccionobscuridad.errors }" />
      </div>
      <div class="input-group input-group-sm mb-3 col-6 aling-right">
        <div class="input-group-prepend">
          <span class="input-group-text">Fobias o Miedos:</span>
        </div>
        <input type="text" formControlName="fobias" class="form-control"
          [ngClass]="{ 'is-invalid': submit_agregar && f_A.fobias.errors }" />
      </div>
    </div>
    <div>
      <span class="font-weight-bold">Duerme la mayoria de las veces: </span>
      <select formControlName="duerme" class="custom-select"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.duerme.errors }">

        <option value="Solo(a)">Solo(a)</option>
        <option value="Con Padres">Con Padres</option>
        <option value="Con Hermanos">Con Hermanos</option>
        <option value="Otro">Otro</option>
      </select>
    </div>
    <div class="col-4 custom-control-inline">
      <input type="checkbox" id="duerme" formControlName="duerme" class="custom-control-input"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.duerme.errors}" />
      <label class="custom-control-label" for="duerme">Hace siestas durante el
        dia.&nbsp;</label>

      <div class="input-group-prepend">
        <span class="input-group-text">Horas: </span>
      </div>
      <input type="text" formControlName="horassiesta" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.horassiesta.errors }" />
    </div>

    <label style="margin-left: 30px;">Horas que duerme en promedio por la noche: </label>
    <div class="col-3 input-group-sm mb-3">
      <input type="text" formControlName="horasduerme" class="form-control"
        [ngClass]="{ 'is-invalid': submit_agregar && f_A.horasduerme.errors }" />
    </div>
  <div class="custom-control-inline">
    <input type="checkbox" id="DH_transtorno_sueno_si" style="margin-top: 5px;">
    <label class="font-weight-bold" style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_sueno_si">Presenta
      algún transtorno de sueño. Cuál:</label>

  </div>
  <div class="custom-control-inline">
    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_pesadilla">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_pesadilla">Pesadilla</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_insomnio">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_insomnio">Insomnio</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_rechinar_dientes">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_rechinar_dientes">Rechinar
      dientes</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_sueño_intranquilo">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_sueño_intranquilo">Sueño
      intranquilo</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_habla">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_habla">habla</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_sueño_corto">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_sueño_corto">Sueño nocturno en
      periodos muy cortos</label>
  </div>
  <div class="custom-control-inline">
    <input type="checkbox" style="margin-top: 5px;" id="DH_transtorno_otro">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_transtorno_otro">otro</label>
    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Cual" id="DH_transtorno_cual"
        class="col-12 form-control ">
    </div>
  </div>
  <div class="col-12 custom-control-inline">
    <span class="font-weight-bold">Cuantas horas al dia pasa viendo algún programa de televisión: </span>
    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Horas" id="DH_tv_horas" class="col-8 form-control ">
    </div>
    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Minutos" id="DH_tv_minutos"
        class="col-8 form-control ">
    </div>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_solo">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_solo">Solo(a)</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_acompanado">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_acompanado">Acompañado</label>
  </div>

  <div class="col-12 custom-control-inline">
    <span class="font-weight-bold">Cuantas horas al día pasa frente a algún aparato tecnológico (Ipod, laptop,
      PC, etc.): </span>
    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Horas" id="DH_pc_horas" class="col-8 form-control ">
    </div>
    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Minutos" id="DH_pc_minutos"
        class="col-8 form-control ">
    </div>
  </div>



  <div class="custom-control-inline">
    <label class="font-weight-bold" style="margin-left: 10px; margin-right: 10px;">Cuales son sus programas
      favoritos:</label>
  </div>
  <div class="custom-control-inline">
    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_caricatura">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_caricatura">Caricatura</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_documentales">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_documentales">Documentales</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_policialess">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_policiales">Series policiacas</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_telenovelas">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_telenovelas">Telenovelas</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_Concursos">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_Concursos">Concursos</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_Terror">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_Terror">Terror</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_Video_Musical">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_Video_Musical">Video Musical</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_tv_Otros">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_tv_Otros">Otros</label>

    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Cual" id="DH_tv_cual" class="form-control ">
    </div>
  </div>

  <div class="custom-control-inline">
    <label class="font-weight-bold" style="margin-left: 10px; margin-right: 10px;">Habilidades:</label>
  </div>
  <div class="custom-control-inline">
    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_come_solo">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_come_solo">Come solo</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_asea_baño">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_asea_baño">Se asea despues de ir al
      baño</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_peinar">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_peinar">Se peina solo(a)</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_viste_solo">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_viste_solo">Se viste solo(a)</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_lava_manos">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_lava_manos">Se lava las manos
      frecuentemente</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_habilidad_lava_dientes">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_habilidad_lava_dientes">Se lava los dientes
      frecuentemente</label>
  </div>

  <div class="custom-control-inline">
    <label class="font-weight-bold" style="margin-left: 10px; margin-right: 10px;">Que actividad realiza regularmente
      los fines de semana:</label>
  </div>
  <div class="custom-control-inline">
    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Conciertos">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Conciertos">Conciertos</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Cine">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Cine">Cine</label>
    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Redes">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Redes">Redes Sociales</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Salidas">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Salidas">Salidas E.U</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Deportivas">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Deportivas">Deportivas</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Parque">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Parque">Parque de diversiones</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_Visitas">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_Visitas">Visitas Familiares</label>

    <input type="checkbox" style="margin-top: 5px;" id="DH_actividad_otros">
    <label style="margin-left: 10px; margin-right: 10px;" for="DH_actividad_otros">Otros</label>

    <div class="input-group-sm mb-3">
      <input style="margin-left: 10px;" type="text" placeholder="Cual" id="DH_actividad_cual" class="form-control ">
    </div>
  </div>
  <div class="row" style="margin: 15px 0px 15px 15px">
    <div class="col-10"></div>
    <div class="col-2">
      <button id="DH_btn_guardar" type="button" class="btn btn-club btn-sm"
        style="width:100%; height: 50px;">Guardar</button>
    </div>
  </div>
  </div>
</form>