<form action="" style="margin: 0px 0px 30px 0px">
	<div class="row" style="margin: 30px 0px 15px 0px">
		<div class=" col-5 aling-right input-group input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">No. Miembro:</span>
			</div>
			<input id="historial_busc_miembro" type="number" class="form-control" placeholder="Ingresa aquí el número de miembro" autofocus>
		</div>
		<div class="col-2" style="text-align: center;">
			<button id="historial_btn_buscar" type="button" class="btn btn-club" style="width:100%;">Consultar</button>
		</div> 
		<div class="col-5"></div>
	</div>
</form>
<div class="row" style="margin: 15px 15px 0px 0px">
	<div class="col-12 text-left "  style="margin: 0px 0px 0px 0px;">
		<label>Resultados</label>
	</div>
	<div class="col-12">
		<table class="table text-center table-bordered table-sm rounded">
			<thead style="background-color: #00AAE7; color: white;">
				<tr>
					<th scope="col">#</th>
					<th scope="col">Fecha</th>
					<th scope="col">Entrada</th>
					<th scope="col">Salida</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>1/1/12</td>
					<td>10:00</td>
					<td>14:00</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>2/3/12</td>
					<td>12:00</td>
					<td>16:00</td>
				</tr>
				<tr>
					<th scope="row">3</th>
					<td>2/5/17</td>
					<td>10:00</td>
					<td>14:00</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
