<div class="container blue-text" style="width: auto;">
	<ul class="tabs tabs-fixed-width tab-demo z-depth-1" style="overflow-x: hidden;">
		<li class="tab"><a class="active blue-text" href="#generales">Datos Generales</a></li>
		<li class="tab disabled"><a href="#familia">Nucleo Familia</a></li>
		<li class="tab disabled"><a href="#socioeconomico">Estudio socioeconomicos</a></li>
		<li class="tab disabled"><a href="#medico">Datos medicos</a></li>
		<li class="tab disabled"><a href="#educacion">Educación</a></li>
		<li class="tab disabled"><a href="#deporte">Deporte</a></li>
		<li class="tab disabled"><a href="#arte">Arte</a></li>
		<li class="tab disabled"><a href="#desarrollo">Desarrlllo humano</a></li>
	</ul>
	<div id="generales" class="col s12"><p>Datos generales</p></div>
	<div id="familia" class="col s12"><p>Test 2</p></div>
	<div id="socioeconomico" class="col s12"><p>Test 3</p></div>
	<div id="medico" class="col s12"><p>Test 4</p></div>
	<div id="educacion" class="col s12"><p>Test 5</p></div>
	<div id="deporte" class="col s12"><p>Test 5</p></div>
	<div id="arte" class="col s12"><p>Test 5</p></div>
	<div id="desarrollo" class="col s12"><p>Test 5</p></div>
</div>
