<div class="container border rounded">
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<a class="nav-link" href="#generales" data-toggle="tab">Datos generales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#familia" data-toggle="tab">Núcleo Familia</a>
		</li>
		<li class="nav-item ">
			<a class="nav-link disabled" href="#socioeconomico" data-toggle="tab">Estudio socioeconómicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#medico" data-toggle="tab">Datos médicos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#educacion" data-toggle="tab">Educación</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#deporte" data-toggle="tab">Deporte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#arte" data-toggle="tab">Arte</a>
		</li>
		<li class="nav-item">
			<a class="nav-link disabled" href="#desarrollo" data-toggle="tab">Desarrollo Humano</a>
		</li>
		
	</ul>


	<div class="tab-content">
		<div class="tab-pane fade active" id="generales">
			<datos-generales></datos-generales>
		</div>
		<div class="tab-pane fade" id="familia">
			familia
		</div>
		<div class="tab-pane fade" id="socioeconomico">
			socioeconomico
		</div>
		<div class="tab-pane fade" id="medico">
			medico
		</div>
		<div class="tab-pane fade" id="educacion">
			educacion
		</div>
		<div class="tab-pane fade" id="deporte">
			deporte
		</div>
		<div class="tab-pane fade" id="arte">
			arte
		</div>
		<div class="tab-pane fade" id="desarrollo">
			desarrollo
		</div>

	</div>

</div>
