<div class="col-12" style="margin:15px 0px 0px 0px;">
	<div class="col-12 font-weight-bold text-center" >
		<h5>HISTORIAL</h5>
	</div>
	<div class="col-12" style="font-size: 14px;">
		<table class="table table-sm  table-hover text-center table-bordered rounded">
			<thead style="background-color: #00AAE7; color: white;">
				<tr>
					<th scope="col">Fecha</th>
					<th scope="col">Niño(a)</th>
					<th scope="col">Instructor</th>
					<th scope="col">Área o Actividad</th>
					<th scope="col">Situación</th>
					<th scope="col">Solución</th>
				</tr>
			</thead>
			<tbody style="cursor: pointer;">
				<tr *ngFor="let registro of historial">
					<td>{{registro.fecha_incidencia | date}}</td>
					<td>{{registro.alumno.nombres}} {{registro.alumno.appaterno }} {{registro.alumno.apmaterno }}</td>
					<td>{{registro.instructor.nombre}} {{registro.instructor.ap_paterno }} {{registro.instructor.ap_materno }}</td>
					<td>{{registro.area_actividad }}</td>
					<td>{{registro.conducta_problema }}</td>
					<td>{{registro.solucion }}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>