<div class="row" style="margin:15px 15px 0px 0px;">
	<div class="col-10 font-weight-bold" >
		<h5>HISTORIAL</h5>
	</div>
	<div class="col-2" style="margin: 0px 0px 15px 0px;">
		<button name="btn_refrescar" class="btn btn-club btn-sm float-right" type="submit" (click) = "obtener_historial()">
			Refrescar
		</button>
	</div>

</div>
<div class="col-12" style="font-size: 14px;">
	<table class="table table-sm  table-hover text-center table-bordered rounded" >
		<thead style="background-color: #00AAE7; color: white;">
			<tr>
				<th scope="col">Fecha</th>
				<th scope="col">Niño(a)</th>
				<th scope="col">Instructor</th>
				<th scope="col">Área o Actividad</th>
				<th scope="col">Situación</th>
				<th scope="col">Solución</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let registro of historial">
				<td>{{registro.fecha_incidencia | date:'dd-MMMM-yyyy'}}</td>
				<td>{{registro.alumno.nombres}} {{registro.alumno.appaterno }} {{registro.alumno.apmaterno }}</td>
				<td>{{registro.instructor.nombre}} {{registro.instructor.ap_paterno }} {{registro.instructor.ap_materno }}</td>
				<td>{{registro.area_actividad }}</td>
				<td>{{registro.conducta_problema }}</td>
				<td>{{registro.solucion }}</td>
				<td>
					<button data-toggle="modal" data-target="#modal" class="btn btn-sm btn-link" style="font-weight: bold;" (click)="abrir_modal(registro)">Ver ó Modificar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalLabel">Modificando incidencia</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelar();" #closeAddExpenseModal>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div *ngIf="visible==true" style="margin: 0px 30px 0px 15px;" class="text-center">
					<ngb-alert  (close)="cerrar_alert()" type="{{tipo}}">{{mensaje}}</ngb-alert>
				</div>
				<form [formGroup]="form_guardar" (ngSubmit)="modificar()">
					<div class=" col-12">
						<span class="font-weight-bold">Datos del niño (a): </span><br>
					</div>
					<div class="row" style="margin: 5px 0px 0px 5px;">
						<div class="col-1 form-group input-group-sm mb-3 text-center">
							<label for="miembroID" style="padding: 0px;">#</label>
							<input type="text" id="miembroID" formControlName="miembroID" class="form-control"
							[ngClass]="{ 'is-invalid': submitted2 && f2.miembroID.errors }" style="margin-top: -10px;"  (input)="obtener_datos($event.target.value, 'datos_nino_incidencia')" autocomplete="off" autofocus="true">
						</div>
						<div class="col-2 form-group input-group-sm mb-3">
							<label for="nombres" style="padding: 0px;">Nombres (s).</label>
							<input type="text" id="nombres" formControlName="nombres" class="form-control"
							[ngClass]="{ 'is-invalid': submitted2 && f2.nombres.errors }" style="margin-top: -10px;" readonly>
						</div>
						<div class="col-2 form-group input-group-sm mb-3">
							<label for="appaterno" style="padding: 0px;">Apellido Paterno </label>
							<input type="text" id="appaterno" formControlName="appaterno" class="form-control"
							[ngClass]="{ 'is-invalid': submitted2 && f2.appaterno.errors }" style="margin-top: -10px;" readonly>
						</div>
						<div class="col-2 form-group input-group-sm mb-3">
							<label for="apmaterno" style="padding: 0px;">Apellido Materno</label>
							<input type="text" id="apmaterno" formControlName="apmaterno" class="form-control"
							[ngClass]="{ 'is-invalid': submitted2 && f2.apmaterno.errors }" style="margin-top: -10px;" readonly>
						</div>
						<div class="col-1 form-group input-group-sm mb-3">
							<label for="grupo" style="padding: 0px;">Grupo</label>
							<input type="text" id="grupo" formControlName="grupo" class="form-control"
							[ngClass]="{ 'is-invalid': submitted2 && f2.grupo.errors }" style="margin-top: -10px;" autocomplete="off">
						</div>
						<div class="col-2 form-group input-group-sm mb-3" style="font-size: 14px;">
							<label for="con_hermanos_primos" style="padding: 0px;">Con hermanos o primos</label>
							<select formControlName="con_hermanos_primos" class="custom-select" id="con_hermanos_primos"
							[ngClass]="{ 'is-invalid': submitted2 && f2.con_hermanos_primos.errors }" data-toggle="tooltip" data-placement="top"
							title="Elige" style="margin-top: -10px;">
							<option selected disabled></option>
							<option value="true">Si</option>
							<option value="false">No</option>
						</select>
					</div>
					<div class="col-2 form-group input-group-sm mb-3">
						<label for="fecha_incidencia" style="padding: 0px;">Fecha de incidencia</label>
						<input type="date" id="fecha_incidencia" formControlName="fecha_incidencia" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.fecha_incidencia.errors }" style="margin-top: -10px;">
					</div>
				</div>
				<div class="dropdown-divider"></div>
				<div class="row" style="margin: 5px 0px 0px 5px;">
					<div class=" col-7">
						<span class="font-weight-bold">Datos del guía o instructor quien detecta: </span><br>
					</div>
					<div class=" col-5">
						<span class="font-weight-bold">Área o actividad </span><br>
					</div>
					<div class="col-1 form-group input-group-sm mb-3 text-center">
						<label for="quien_detecto" style="padding: 0px;">#</label>
						<input type="text" id="quien_detecto" formControlName="quien_detecto" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.quien_detecto.errors }" style="margin-top: -10px;"  (input)="obtener_datos($event.target.value, 'datos_instructor_incidencia')" autocomplete="off">
					</div>
					<div class="col-2 form-group input-group-sm mb-3">
						<label for="nombre" style="padding: 0px;">Nombres (s).</label>
						<input type="text" id="nombre" formControlName="nombre" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.nombre.errors }" style="margin-top: -10px;" readonly>
					</div>
					<div class="col-2 form-group input-group-sm mb-3">
						<label for="ap_paterno" style="padding: 0px;">Apellido Paterno </label>
						<input type="text" id="ap_paterno" formControlName="ap_paterno" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.ap_paterno.errors }" style="margin-top: -10px;" readonly>
					</div>
					<div class="col-2 form-group input-group-sm mb-3">
						<label for="ap_materno" style="padding: 0px;">Apellido Materno</label>
						<input type="text" id="ap_materno" formControlName="ap_materno" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.ap_materno.errors }" style="margin-top: -10px;" readonly>
					</div>
					<div class="col-5 form-group input-group-sm mb-3">
						<label for="area_actividad" style="padding: 0px;">¿Cuál?</label>
						<input type="text" id="area_actividad" formControlName="area_actividad" class="form-control"
						[ngClass]="{ 'is-invalid': submitted2 && f2.area_actividad.errors }" style="margin-top: -10px;" autocomplete="off">
					</div>
				</div>	
				<div class="dropdown-divider"></div>
				<div class="row" style="margin: 5px 0px 0px 5px;">
					<div class=" col-12">
						<span class="font-weight-bold">Datos de la incidencia: </span><br>
					</div>
					<div class="col-4 form-group input-group-sm mb-3" style="font-size: 14px;">
						<label for="conducta_problema" style="padding: 0px;">Conducta problema ó situación que presenta</label>
						<select formControlName="conducta_problema" class="custom-select" id="conducta_problema"
						[ngClass]="{ 'is-invalid': submitted2 && f2.conducta_problema.errors }" data-toggle="tooltip" data-placement="top"
						title="Elige" style="margin-top: -10px;">
						<option selected disabled></option>
						<option value="Médica">Médica</option>
						<option value="Conductal">Conductal</option>
						<option value="Accidente">Accidente</option>
					</select>
				</div>
				<div class="col-8 form-group input-group-sm mb-3" style="font-size: 14px;">
					<label for="descripcion" style="padding: 0px;">Descripción</label>
					<textarea class="form-control" formControlName="descripcion"
					[ngClass]="{ 'is-invalid': submitted2 && f2.descripcion.errors }" id="descripcion" style="margin-top: -10px;" maxlength="390"></textarea>
				</div>
			</div>	
			<div class="dropdown-divider"></div>
			<div class="row" style="margin: 5px 0px 0px 5px;">
				<div class=" col-12">
					<span class="font-weight-bold">Cierre </span>
				</div>
				<div class="col-3 form-group input-group-sm mb-3">
					<label for="canaliza" style="padding: 0px;">Canaliza a</label>
					<input type="text" id="canaliza" formControlName="canaliza" class="form-control"
					[ngClass]="{ 'is-invalid': submitted2 && f2.canaliza.errors }" style="margin-top: -10px;" autocomplete="off">
				</div>
				<div class="col-5 form-group input-group-sm mb-3">
					<label for="solucion" style="padding: 0px;">Solución</label>
					<input type="text" id="solucion" formControlName="solucion" class="form-control"
					[ngClass]="{ 'is-invalid': submitted2 && f2.solucion.errors }" style="margin-top: -10px;" autocomplete="off">
				</div>
				<div class="col-2">
					<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" style="width:100%; height: 50px;" (click)="cancelar();">Salir</button>
				</div>
				<div class="col-2">
					<button name="inc_btn_guardar" class="btn btn-club btn-sm" style="width:100%; height: 50px;" type="submit">
						<span id="spinner_dh" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
						hidden></span>
						Guardar
					</button>
				</div>
			</div>	
		</form>
	</div>
</div>
</div>
</div>
