
<button (click)="mostrar('Hola mundoooo', 'info', 3000)">mostrar</button>
<ngb-alert *ngIf="visible==true" (close)="visible = true" type="{{tipo}}">{{mensaje}}</ngb-alert>

<ngb-progressbar animated="true" showValue="true" striped="true" value="{{porcentaje_actual}}" *ngIf="guardando == true"></ngb-progressbar>

<form [formGroup] = "form_guardar" (ngSubmit)="press_guardar()">
	<div class="row" *ngIf="agregar_o_modificar=='nuevo'">
		<div class="col-12 text-center" style="color: #00AAE7;">
			<small id="passwordHelpInline" class="text-center">
				El número de miembro se generará al completar formulario
			</small>
		</div>
	</div>
	<div class="row">
		<!-- CÁMARA -->
		<div class="col-2 text-center" >
			<div class="col-12"  > 
				<img [src]="foto" height="130px;" width="130px;" class=" border border-primary rounded"/>
			</div>
			<div class="col-12">
				<button type="button" class="btn btn-club btn-sm" data-toggle="modal" data-target="#modal_foto" style="width:100%;" (click)="toggleWebcam();" >Abrir cámara
				</button>
			</div>
		</div>
<!-- ESTADO, VISA, RELIGION, TALLA, F.INSCR, NOMBRES, APPAT, APMAT.
	F.NAC, EDAD, LUG. NAC, NACIONALIDAD, SEXO-->
	<div class="col-10" style="margin: 15px 0px 0px 0px">
		<div class="col-12 custom-control-inline">
			<div class="col-2 form-group input-group-sm mb-3" style="font-size: 14px;">
				<label for="sede" style="padding: 0px;">Sede</label>
				<select formControlName="sede" class="custom-select" id="sede"
				[ngClass]="{ 'is-invalid': submitted2 && f2.sede.errors }" 
				data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
				<option selected disabled></option>
				<option value="LomaDorada">Loma Dorada</option>
				<option value="camino">Camino Verde</option>
				<option value="Natura">Natura</option>
			</select>
		</div>

		<div class="col-1 custom-control form-check" style="margin: 0px 10px 0px 10px;">
			<input type="checkbox" id="estado" formControlName="estado" class="custom-control-input" [ngClass]="{ 'is-invalid': submitted2 && f2.estado.errors}"/>
			<label class="custom-control-label" for="estado">Estado&nbsp;</label>
		</div>

		<div class="col-1 custom-control form-check" >
			<input type="checkbox" id="visa" formControlName="visa" class="custom-control-input" [ngClass]="{ 'is-invalid': submitted2 && f2.visa.errors }"/>
			<label class="custom-control-label" for="visa">Visa</label>
		</div>

		<div class="col-2 form-group input-group-sm mb-3">
			<label for="religion" style="padding: 0px; font-size: 13px;">Religión</label>
			<input type="text" id="religion" formControlName="religion" class="form-control" [ngClass]="{ 'is-invalid': submitted2 && f2.religion.errors }" style="margin-top: -10px;"/>
		</div>

		<div class="col-2 input-group input-group-sm mb-3" style="font-size: 14px;">
			<label for="tallacamisa" style="padding: 0px;">Talla de camisa</label>
			<select formControlName="tallacamisa" class="custom-select" id="tallacamisa"
			[ngClass]="{ 'is-invalid': submitted2 && f2.tallacamisa.errors }" 
			data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
			<option selected disabled></option>
			<option value="XS">XS</option>
			<option value="S">S</option>
			<option value="M">M</option>
			<option value="L">L</option>
			<option value="XL">XL</option>
			<option value="XXL">XXL</option>
		</select>
	</div>
	<div class="col-4 form-group input-group-sm mb-3" >
		<label for="fechainscripcion" style="padding: 0px; font-size: 13px;">Fecha de inscripción</label>
		<input formControlName="fechainscripcion" placeholder="Fecha de inscripción" type="date" class="form-control"  [ngClass]="{ 'is-invalid': submitted2 && f2.fechainscripcion.errors }" id="fechainscripcion" data-toggle="tooltip" data-placement="top" title="Fecha de inscripción" style="margin-top: -10px;">
	</div>
</div>
<div class="col-12 custom-control-inline">
	<div class="col-3 input-group input-group-sm mb-3" hidden="true">
		<input type="text" formControlName="idNinosDG" class="form-control" [ngClass]="{ 'is-invalid': submitted2 && f2.idNinosDG.errors}" readonly/>
	</div>
	<div class="col-2 input-group input-group-sm mb-3" hidden="true">
		<input type="number" formControlName="miembroID" class="form-control" placeholder="No. Miembro" [ngClass]="{ 'is-invalid': submitted2 && f2.miembroID.errors }" readonly/>
	</div>
	<div class="col-3 form-group input-group-sm mb-3">
		<label for="nombres" style="padding: 0px; font-size: 13px;">Nombre(s)</label>
		<input type="text" id="nombres" formControlName="nombres" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted2 && f2.nombres.errors }" style="margin-top: -10px;"/>
	</div>
	<div class="col-3 form-group input-group-sm mb-3">
		<label for="appaterno" style="padding: 0px; font-size: 14px;">Apellido Paterno</label>
		<input type="text" id="appaterno" formControlName="appaterno" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.appaterno.errors }"style="margin-top: -10px;">
	</div>
	<div class="col-3 form-group input-group-sm mb-3">
		<label for="apmaterno" style="padding: 0px; font-size: 14px;">Apellido Materno</label>
		<input type="text" id="apmaterno" formControlName="apmaterno" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.apmaterno.errors }"style="margin-top: -10px;">
	</div>
	<div class="col-3 form-group input-group-sm mb-3" >
		<label for="fechanacimiento" style="padding: 0px; font-size: 13px;">Fecha de nacimiento</label>
		<input formControlName="fechanacimiento" placeholder="Fecha de inscripción" type="date" class="form-control"  [ngClass]="{ 'is-invalid': submitted2 && f2.fechanacimiento.errors }" id="fechanacimiento" data-toggle="tooltip" data-placement="top" title="Fecha de nacimiento" style="margin-top: -10px;">
	</div>
</div>
<div class="col-12 custom-control-inline">
	<div class="col-2 form-group input-group-sm mb-3">
		<label for="edad" style="padding: 0px; font-size: 14px;">Edad</label>
		<input type="number" id="edad" formControlName="edad" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.edad.errors }"style="margin-top: -10px;">
	</div>
	<div class="col-4 form-group input-group-sm mb-3">
		<label for="lugarnacimiento" style="padding: 0px; font-size: 14px;">Lugar de nacimiento</label>
		<input type="text" id="lugarnacimiento" formControlName="lugarnacimiento" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.lugarnacimiento.errors }"style="margin-top: -10px;">
	</div>

	<div class="col-3 form-group input-group-sm mb-3" style="font-size: 14px;">
		<label for="nacionalidad" style="padding: 0px;">Nacionalidad</label>
		<select formControlName="nacionalidad" class="custom-select" id="nacionalidad"
		[ngClass]="{ 'is-invalid': submitted2 && f2.nacionalidad.errors }" 
		data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
		<option selected disabled></option>
		<option value="Mexicano">Mexicano</option>
		<option value="Extranjero">Extranjero</option>
	</select>
</div>
<div class="col-3 form-group input-group-sm mb-3" style="font-size: 14px;">
	<label for="sexo" style="padding: 0px;">Sexo</label>
	<select formControlName="sexo" class="custom-select" id="sexo"
	[ngClass]="{ 'is-invalid': submitted2 && f2.sexo.errors }" 
	data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
	<option selected disabled></option>
	<option value="M">Masculino</option>
	<option value="F">Femenino</option>
</select>
</div>
</div>
</div>
</div>

<!-- INICIO DE COL 12 DERECHOHABIENCIA -->
<div class="dropdown-divider"></div>
<div class="row" style="margin: 10px 0px 0px 0px">
	<div class="col-12 font-weight-bold" >
		<span>DERECHOHABIENCIA</span>
	</div>
	
	<div class="col-3 form-group input-group-sm mb-3" style="font-size: 14px;">
		<label for="derechohabiencia" style="padding: 0px;">Tipo de derechohabiencia</label>
		<select formControlName="derechohabiencia" class="custom-select" id="derechohabiencia"
		[ngClass]="{ 'is-invalid': submitted2 && f2.derechohabiencia.errors }" 
		data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
		<option selected disabled></option>
		<option value="IMSS">IMSS</option>
		<option value="ISSSTE">ISSSTE</option>
		<option value="ISSSTECALI">ISSSTECALI</option>
		<option value="POPULAR">SEGURO POPULAR</option>
		<option value="PARTICULAR">PARTICULAR</option>
		<option value="OTRO">OTRO</option>
	</select>
</div>
<div class="col-2 form-group input-group-sm mb-3">
	<label for="otroseguro" style="padding: 0px; font-size: 14px;">Otro servicio</label>
	<input type="text" id="otroseguro" formControlName="otroseguro" class="form-control"
	[ngClass]="{ 'is-invalid': submitted2 && f2.otroseguro.errors }" placeholder="¿Cúal?" style="margin-top: -10px;">
</div>
<div class="col-7 custom-control-inline" style="margin: 0px 0px 0px -15px">
	<div class="col-8 form-group input-group-sm mb-3">
		<label for="vivecon" style="padding: 0px; font-size: 14px;">Con quién vive el niño (a) adolecente</label>
		<input type="text" id="vivecon" formControlName="vivecon" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.vivecon.errors }" placeholder="" style="margin-top: -10px;">
	</div>
	<div class="col-4 form-group input-group-sm mb-3">
		<label for="telefono" style="padding: 0px; font-size: 14px;">Teléfono</label>
		<input type="tel" id="telefono" formControlName="telefono" class="form-control"
		[ngClass]="{ 'is-invalid': submitted2 && f2.telefono.errors }" placeholder="" style="margin-top: -10px;">
	</div>
</div>
</div>

<!-- INICIO DE COL 12 DOMICILIO -->
<div class="dropdown-divider"></div>
<div class="row" style="margin: 10px 0px 0px 0px">
	<div class="col-12 font-weight-bold" >
		<span>DOMICILIO</span>
	</div>
	<div class="col-12 custom-control-inline" style="margin: 0px 0px 0px -15px">
		<div class="col-3 form-group input-group-sm mb-3">
			<label for="domcalle" style="padding: 0px; font-size: 14px;">Calle y número</label>
			<input type="text" id="domcalle" formControlName="domcalle" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.domcalle.errors }" placeholder="" style="margin-top: -10px;">
		</div>
		<div class="col-3 form-group input-group-sm mb-3">
			<label for="domcolonia" style="padding: 0px; font-size: 14px;">Colonia</label>
			<input type="text" id="domcolonia" formControlName="domcolonia" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.domcolonia.errors }" placeholder="" style="margin-top: -10px;">
		</div>
		<div class="col-1 form-group input-group-sm mb-3">
			<label for="domcodpost" style="padding: 0px; font-size: 14px;">C.P</label>
			<input type="number" id="domcodpost" formControlName="domcodpost" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.domcodpost.errors }" placeholder="" style="margin-top: -10px;">
		</div>
		<div class="col-2 form-group input-group-sm mb-3">
			<label for="domdelegacion" style="padding: 0px; font-size: 14px;">Delegación</label>
			<input type="text" id="domdelegacion" formControlName="domdelegacion" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.domdelegacion.errors }" placeholder="" style="margin-top: -10px;">
		</div>
		<div class="col-3 form-group input-group-sm mb-3">
			<label for="dommunicipio" style="padding: 0px; font-size: 14px;">Municipio</label>
			<input type="text" id="dommunicipio" formControlName="dommunicipio" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.dommunicipio.errors }" placeholder="" style="margin-top: -10px;">
		</div>
	</div>
</div>	

<!-- INICIO DE COL 12 ESCOLARES y PERSONAS AUTORIZADAS -->
<div class="dropdown-divider"></div>
<div class="row" style="margin: 0px 0px 0px 0px">
	<div class="col-6" style="margin: 0px 0px 0px -15px">
		<div class="col-12 font-weight-bold" >
			<span>DATOS ESCOLARES</span>
		</div>
		<div class="col-12 custom-control-inline" style="margin: 0px 0px 0px -15px">
			<div class="col-6 form-group input-group-sm mb-3">
				<label for="escuela" style="padding: 0px; font-size: 14px;">Nombre de la escuela</label>
				<input type="text" id="escuela" formControlName="escuela" class="form-control"
				[ngClass]="{ 'is-invalid': submitted2 && f2.escuela.errors }" placeholder="" style="margin-top: -10px;">
			</div>
			<div class="col-6 form-group input-group-sm mb-3" style="font-size: 14px;">
				<label for="escuelaturno" style="padding: 0px;">Turno escolar</label>
				<select formControlName="escuelaturno" class="custom-select" id="escuelaturno"
				[ngClass]="{ 'is-invalid': submitted2 && f2.escuelaturno.errors }" 
				data-toggle="tooltip" data-placement="top" title="Elige" style="margin-top: -10px;">
				<option selected disabled></option>
				<option value="Matutino">Matutino</option>
				<option value="Intermedio">Intermedio</option>
				<option value="Vespertino">Vespertino</option>
			</select>
		</div>
</div>
</div>
<div class="col-6" style="margin: 0px 0px 0px -15px">
	<div class="col-12 font-weight-bold" >
		<span>PERSONAS AUTORIZADAS A RECOGERLO</span>
	</div>
	<div class="col-12 custom-control-inline" style="margin: 0px 0px 0px 0px">
		<div class="col-6 form-group input-group-sm mb-3">
			<label for="recoge1nino" style="padding: 0px; font-size: 14px;">Nombre</label>
			<input type="text" id="recoge1nino" formControlName="recoge1nino" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.recoge1nino.errors }" placeholder="" style="margin-top: -10px;">
		</div>
		<div class="col-6 form-group input-group-sm mb-3">
			<label for="parentrecoge1" style="padding: 0px; font-size: 14px;">Parentesco</label>
			<input type="text" id="parentrecoge1" formControlName="parentrecoge1" class="form-control"
			[ngClass]="{ 'is-invalid': submitted2 && f2.parentrecoge1.errors }" placeholder="" style="margin-top: -10px;">
		</div>
	</div>
</div>
</div>

<!-- INICIO DE COL 12 ESCOLARES y PERSONAS AUTORIZADAS -->
<div class="dropdown-divider"></div>
<div class="row" style="margin: 0px 0px 0px -5px">
	<div class="col-10" style="margin: 0px 0px 15px -5px">
		<div class="col-12 font-weight-bold" >
			<span>CONTACTOS DE EMERGENCIA</span>
		</div>
		<div class=" col-12 input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Contacto 1</span>
			</div>
			<input type="text" formControlName="emergencia1" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted2 && f2.emergencia1.errors }"/>
			<input type="text" formControlName="parentemergencia1" class="form-control" placeholder="Parentesco" [ngClass]="{ 'is-invalid': submitted2 && f2.parentemergencia1.errors }"/>
			<input type="tel" formControlName="telefonoemergencia1" class="form-control" placeholder="Teléfono" [ngClass]="{ 'is-invalid': submitted2 && f2.telefonoemergencia1.errors }"/>
		</div>
		<div class=" col-12 input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Contacto 2</span>
			</div>
			<input type="text" formControlName="emergencia2" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted2 && f2.emergencia2.errors }"/>
			<input type="text" formControlName="parentemergencia2" class="form-control" placeholder="Parentesco" [ngClass]="{ 'is-invalid': submitted2 && f2.parentemergencia2.errors }"/>
			<input type="tel" formControlName="telefonoemergencia2" class="form-control" placeholder="Teléfono" [ngClass]="{ 'is-invalid': submitted2 && f2.telefonoemergencia2.errors }"/>
		</div>
		<div class=" col-12 input-group">
			<div class="input-group-prepend">
				<span class="input-group-text">Contacto 3</span>
			</div>
			<input type="text" formControlName="emergencia3" class="form-control" placeholder="Nombre" [ngClass]="{ 'is-invalid': submitted2 && f2.emergencia3.errors }"/>
			<input type="text" formControlName="parentemergencia3" class="form-control" placeholder="Parentesco" [ngClass]="{ 'is-invalid': submitted2 && f2.parentemergencia3.errors }"/>
			<input type="tel" formControlName="telefonoemergencia3" class="form-control" placeholder="Teléfono" [ngClass]="{ 'is-invalid': submitted2 && f2.telefonoemergencia3.errors }"/>
		</div>
	</div>
	<div class="col-2 text-right">
		<button name="DG_btn_guardar"  class="btn btn-club btn-sm" style="width:100%; margin-top: 50px; height: 50px;" type="submit">
			<span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" hidden></span>
			Guardar
		</button>
	</div> 
</div>	
</form>

<!-- Modal -->
<div class="modal fade" id="modal_foto" tabindex="-1" role="dialog" aria-labelledby="modal_fotoLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal_fotoLabel">Cámara</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="toggleWebcam();">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<webcam [height]="350" [width]="460" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
				[allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
				[videoOptions]="videoOptions"
				[imageQuality]="1"
				(cameraSwitched)="cameraWasSwitched($event)"
				(initError)="handleInitError($event)"
				></webcam>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="toggleWebcam();">Cancelar</button>
				<button type="button" class="btn btn-primary" data-dismiss="modal" (click)="tomar_foto();">Tomar foto</button>
			</div>
		</div>
	</div>
</div>

<!-- <span>el siguiente número de miembro es: <mark>{{miembros[miembros.length -1].miembroID + 1}}</mark></span>
<li *ngFor="let miembro of miembros">
{{ miembro.estado}}
</li> -->
